.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__jGs5Z {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__jGs5Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__jGs5Z > :global(.__wab_flex-container) > *,
.freeBox__jGs5Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jGs5Z > :global(.__wab_flex-container) > picture > img,
.freeBox__jGs5Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jGs5Z {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ps4RV {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
  padding-top: 0px;
}
.text__e33V {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns___3Azv4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 446px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.columns___3Azv4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___3Azv4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Azv4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Azv4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fnq5S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__m4GcQ:global(.__wab_instance) {
  position: relative;
}
.svg__k330A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gogy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__kpwYq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__sPuW {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
  max-width: 1529px;
  width: 100%;
  min-width: 0;
}
.freeBox__saV9D {
  flex-direction: column;
  display: flex;
  height: auto;
  max-width: 1457px;
  width: 100%;
  min-width: 0;
}
.freeBox__saV9D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__saV9D > :global(.__wab_flex-container) > *,
.freeBox__saV9D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__saV9D > :global(.__wab_flex-container) > picture > img,
.freeBox__saV9D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dpNh1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__ahTUr {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.text__woVpg {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  padding-bottom: 0px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__dlb9E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__tvJ7V {
  height: auto;
  max-width: 240px;
  width: 100%;
  min-width: 0;
}
.react {
  display: flex;
}
.text___55WFh {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  text-align: left;
  font-weight: 700;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__skyLm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pMZqj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___8JeyF {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__jeAwo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__kCbUy {
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.vue {
  display: flex;
}
.text___2InBy {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  font-weight: 700;
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__iCZh5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vpaNv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___9BQ34 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__dodz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__tuUc5 {
  padding-bottom: 0px;
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.svelte {
  display: flex;
}
.text__sOugM {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  font-weight: 700;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__jU0Xp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___8IBh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jNkFr {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__kQxQz {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  height: auto;
  padding-right: 0px;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
.columns__eNf1S {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__eNf1S > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__eNf1S > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eNf1S {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eNf1S > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___8URFu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__rpyxN:global(.__wab_instance) {
  position: relative;
}
.svg__unsza {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cLOkN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__rdhWw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 21px;
}
.link__xKbY {
  display: flex;
}
.text__uNsew {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  font-weight: 700;
}
.button__eaY1V:global(.__wab_instance) {
  display: none;
}
.svg___27ODo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ygD8L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token--5GuW43mkzDwqY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__izr8Q {
  flex-direction: column;
  display: flex;
}
.freeBox__izr8Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__izr8Q > :global(.__wab_flex-container) > *,
.freeBox__izr8Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__izr8Q > :global(.__wab_flex-container) > picture > img,
.freeBox__izr8Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rijls {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__p0BYg {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__jUsX {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  width: auto;
}
.freeBox__wOvuR {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__wOvuR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__wOvuR > :global(.__wab_flex-container) > *,
.freeBox__wOvuR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wOvuR > :global(.__wab_flex-container) > picture > img,
.freeBox__wOvuR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__xMyfv {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__xMyfv > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__xMyfv > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xMyfv > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xMyfv > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xMyfv > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xMyfv > :global(.__wab_flex-container) > *,
.columns__xMyfv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xMyfv > :global(.__wab_flex-container) > picture > img,
.columns__xMyfv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xMyfv {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xMyfv > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xMyfv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xMyfv > :global(.__wab_flex-container) > *,
  .columns__xMyfv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__xMyfv > :global(.__wab_flex-container) > picture > img,
  .columns__xMyfv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__zeXMi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__eWXi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wUGb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__qVXs1 {
  padding-left: 0px;
}
.column__kgwJl {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__jsc4Y:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__tiDqa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__kwn7 {
  padding-left: 0px;
}
.column__pIf7E {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__xMh90:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__vAOb2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__t3W05 {
  padding-left: 0px;
}
.column__gmQy7 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__tf4J:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yxqB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__bsEeV {
  padding-left: 0px;
}
.columns__nBedB {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__nBedB > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__nBedB > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nBedB {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nBedB > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wq9Lr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__kdz4Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 355px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.button__hk4Bd:global(.__wab_instance) {
  position: relative;
}
.svg__dJnGv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__iIgib {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link___8GxsS {
  position: relative;
  height: 32px;
  align-self: center;
}
.column___1Z07H {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 8px 8px 0px;
}
.freeBox__fdzgl {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__fdzgl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__fdzgl > :global(.__wab_flex-container) > *,
.freeBox__fdzgl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fdzgl > :global(.__wab_flex-container) > picture > img,
.freeBox__fdzgl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fdzgl {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__oSoEa {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__oSoEa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__oSoEa > :global(.__wab_flex-container) > *,
.freeBox__oSoEa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oSoEa > :global(.__wab_flex-container) > picture > img,
.freeBox__oSoEa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__ln75A {
  flex-direction: column;
  display: flex;
}
.freeBox__ln75A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ln75A > :global(.__wab_flex-container) > *,
.freeBox__ln75A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ln75A > :global(.__wab_flex-container) > picture > img,
.freeBox__ln75A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jxfEw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__lijFu {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lijFu {
    text-align: center;
  }
}
.text__cUzNu {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__lVwB5 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__lVwB5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__lVwB5 > :global(.__wab_flex-container) > *,
.freeBox__lVwB5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lVwB5 > :global(.__wab_flex-container) > picture > img,
.freeBox__lVwB5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lVwB5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lVwB5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lVwB5 > :global(.__wab_flex-container) > *,
  .freeBox__lVwB5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lVwB5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__lVwB5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__js8Pv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__iwdLn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ro2Sm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gnokw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__m3Onm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__g3OnF {
  height: auto;
}
.priceCard__aKo84:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__qeU92 {
  color: var(--token-R-3DcIJHsFFziK);
}
.valueProp__tkiaC:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__o84ZA {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ei9F8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pSwA {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__dTtgk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__i4K8H {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__usK1G {
  height: auto;
}
.priceCard__pvsYl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__dMvRq {
  color: var(--token-dg5F2rkQFmiTZY);
}
.valueProp__gpQf2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uxaUy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gs9On:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__soNWv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bwxTo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sSLeG {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__qaKSn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vobIi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__hdzof {
  height: auto;
}
.priceCard__zfShH:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___90Uj7 {
  color: var(--token-dtZjX0-3JH04eS);
}
.valueProp__qLsEo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__z1ONy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__tmobF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ghQuB {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__aoQ61:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f5IwL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___5VoB:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fTkLk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__sUmCy {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
