.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__uyloD {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__uyloD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__uyloD > :global(.__wab_flex-container) > *,
.freeBox__uyloD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uyloD > :global(.__wab_flex-container) > picture > img,
.freeBox__uyloD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uyloD {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__hKrqi {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__hOyfk {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 293px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__qTEm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__qTEm > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__qTEm > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qTEm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qTEm > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__r5VRi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__zTv7L:global(.__wab_instance) {
  position: relative;
}
.svg__iUwkf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jOEbR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___9Ef6L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__xlMpn {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__zubun {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox__zubun > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zubun > :global(.__wab_flex-container) > *,
.freeBox__zubun > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zubun > :global(.__wab_flex-container) > picture > img,
.freeBox__zubun
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rwOFu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__vMdjW {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.text__kerT6 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  padding-bottom: 0px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__qn3Ey:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__ljm45 {
  height: auto;
  padding-bottom: 0px;
  max-width: 255px;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.svg__mP0I1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9Oty0 {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  text-align: left;
}
.svg__jjV07 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bA5Uj {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__p0WeD {
  padding-left: 0px;
}
.valueProp__om5Lx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__jrEcS {
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.svg___6Vw7Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__lPc5 {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
}
.svg__wVvmE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__wvaO0 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___2AaBv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
.text__tzBp {
  padding-bottom: 0px;
  max-width: 247px;
  width: 100%;
  height: auto;
  min-width: 0;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__oOxDz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vJmbd {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
}
.svg__pEhul {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__npKfx {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.text__hDqsE {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 697px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
.columns__jGQr {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__jGQr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jGQr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fEaxU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__eQdvy:global(.__wab_instance) {
  position: relative;
}
.svg___4Nr5E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__iunRy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__zypuv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__v7Ox {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___17Gkm {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
}
.svg__wkzL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token--5GuW43mkzDwqY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__yrWaT {
  flex-direction: column;
  display: flex;
}
.freeBox__yrWaT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yrWaT > :global(.__wab_flex-container) > *,
.freeBox__yrWaT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yrWaT > :global(.__wab_flex-container) > picture > img,
.freeBox__yrWaT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gTmI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__sIiCo {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__di5Iw {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.freeBox__kghgM {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__kghgM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kghgM > :global(.__wab_flex-container) > *,
.freeBox__kghgM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kghgM > :global(.__wab_flex-container) > picture > img,
.freeBox__kghgM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__ugQtg {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__ugQtg > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__ugQtg > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ugQtg > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ugQtg > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ugQtg > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ugQtg > :global(.__wab_flex-container) > *,
.columns__ugQtg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ugQtg > :global(.__wab_flex-container) > picture > img,
.columns__ugQtg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ugQtg {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ugQtg > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ugQtg > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ugQtg > :global(.__wab_flex-container) > *,
  .columns__ugQtg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ugQtg > :global(.__wab_flex-container) > picture > img,
  .columns__ugQtg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__jvM62 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___4BaM:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___0YmQo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__xJaDi {
  padding-left: 0px;
}
.column___8XXwr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__jO9Fk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yfnxh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__fLdmz {
  padding-left: 0px;
}
.column__oT4Mb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__usM1:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__iRvNs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__nLwkm {
  padding-left: 0px;
}
.column__onpo6 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ssGaU:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___3ZqLb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__lpzan {
  padding-left: 0px;
}
.columns__w3HcA {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__w3HcA > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__w3HcA > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w3HcA {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w3HcA > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tEN1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___61Kn7:global(.__wab_instance) {
  position: relative;
}
.svg__tyQ4F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yL49K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__dTuv2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__kv5Zy {
  position: relative;
}
.freeBox__jSQdJ {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__jSQdJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__jSQdJ > :global(.__wab_flex-container) > *,
.freeBox__jSQdJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jSQdJ > :global(.__wab_flex-container) > picture > img,
.freeBox__jSQdJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jSQdJ {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__wSQz6 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__wSQz6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__wSQz6 > :global(.__wab_flex-container) > *,
.freeBox__wSQz6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wSQz6 > :global(.__wab_flex-container) > picture > img,
.freeBox__wSQz6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__rAAwJ {
  flex-direction: column;
  display: flex;
}
.freeBox__rAAwJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rAAwJ > :global(.__wab_flex-container) > *,
.freeBox__rAAwJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rAAwJ > :global(.__wab_flex-container) > picture > img,
.freeBox__rAAwJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__tjhn9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__v8Z1Y {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__v8Z1Y {
    text-align: center;
  }
}
.text__in4ZJ {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___2STSw {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___2STSw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___2STSw > :global(.__wab_flex-container) > *,
.freeBox___2STSw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2STSw > :global(.__wab_flex-container) > picture > img,
.freeBox___2STSw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2STSw {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2STSw > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2STSw > :global(.__wab_flex-container) > *,
  .freeBox___2STSw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2STSw > :global(.__wab_flex-container) > picture > img,
  .freeBox___2STSw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__bn6Ji:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__mH6VL:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7OkPn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__muGj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9X9M {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__qsMz8 {
  height: auto;
}
.priceCard__kj9Yi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__cDcS {
  color: var(--token-R-3DcIJHsFFziK);
}
.valueProp__cywPv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oSD6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yuEoS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tNfzS {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__x6Xux:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9RJQk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ytNvF {
  height: auto;
}
.priceCard__gzwnO:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___1ZKoy {
  color: var(--token-dg5F2rkQFmiTZY);
}
.valueProp__eXoT1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uSdqY {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vd8AV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wnJzn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bXfxm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uvMti {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ipej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sKvzk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0ZaIg {
  height: auto;
}
.priceCard__b9YY:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__h42Sx {
  color: var(--token-dtZjX0-3JH04eS);
}
.valueProp__rXaWp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__akWhw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__xo6Lk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gdnZy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kx9Lm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qHwwW {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___0EluE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mmLfn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__tyO {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
