.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___7OHeD {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___7OHeD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___7OHeD > :global(.__wab_flex-container) > *,
.freeBox___7OHeD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7OHeD > :global(.__wab_flex-container) > picture > img,
.freeBox___7OHeD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7OHeD {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__mmxIi {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
  margin-right: 0px;
  margin-top: calc(0px + 16px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  padding-right: 0px;
  max-width: 545px;
  min-width: 0;
}
.text__mwz9P {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__bElD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__bElD > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__bElD > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bElD {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bElD > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jb3Mn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__tHpqr:global(.__wab_instance) {
  position: relative;
}
.svg__wC08 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___1Reio {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__wqs5P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___11Ifc {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__rOnGp {
  flex-direction: column;
  display: flex;
  height: auto;
}
.freeBox__rOnGp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rOnGp > :global(.__wab_flex-container) > *,
.freeBox__rOnGp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rOnGp > :global(.__wab_flex-container) > picture > img,
.freeBox__rOnGp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__egjsa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__xnwux {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.text___3VAeN {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  padding-bottom: 0px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp___5R7Td:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__e67Zj {
  height: auto;
  padding-bottom: 0px;
  max-width: 255px;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.link__hHlGr {
  display: flex;
}
.text__nn1Ob {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  text-align: left;
  font-weight: 700;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__rtCo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___0WDy5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__sASf {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__oRuDz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___87E99 {
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.link__fZuj {
  display: flex;
}
.text__uaYf3 {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  font-weight: 700;
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__kYFv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___0IPpd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__erJ98 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__dxMh2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__gKnAh {
  padding-bottom: 0px;
  max-width: 247px;
  width: 100%;
  min-width: 0;
}
.link__a8CcV {
  display: flex;
}
.text___0HiJw {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  font-weight: 700;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__oyFwt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ph2OM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___6F1Xf {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___30PIs {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 697px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
.columns__jGQr {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__jGQr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jGQr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fEaxU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__neaRg:global(.__wab_instance) {
  position: relative;
}
.svg__bA7Xz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__qQmFe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__zypuv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 21px;
}
.link__txxc5 {
  display: flex;
}
.text___5J6Bk {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  font-weight: 700;
}
.button__anOrv:global(.__wab_instance) {
  display: none;
}
.svg__b0V2Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__b28Kf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token--5GuW43mkzDwqY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__gKfqY {
  flex-direction: column;
  display: flex;
}
.freeBox__gKfqY > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gKfqY > :global(.__wab_flex-container) > *,
.freeBox__gKfqY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gKfqY > :global(.__wab_flex-container) > picture > img,
.freeBox__gKfqY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__z6W1C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__bjgvs {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__xOqxz {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.freeBox__mqcSp {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__mqcSp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__mqcSp > :global(.__wab_flex-container) > *,
.freeBox__mqcSp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqcSp > :global(.__wab_flex-container) > picture > img,
.freeBox__mqcSp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__ri9Sq {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__ri9Sq > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__ri9Sq > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ri9Sq > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ri9Sq > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ri9Sq > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ri9Sq > :global(.__wab_flex-container) > *,
.columns__ri9Sq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ri9Sq > :global(.__wab_flex-container) > picture > img,
.columns__ri9Sq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ri9Sq {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ri9Sq > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ri9Sq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ri9Sq > :global(.__wab_flex-container) > *,
  .columns__ri9Sq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ri9Sq > :global(.__wab_flex-container) > picture > img,
  .columns__ri9Sq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__zLoxC {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__uY5GB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__td7HN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__rx3X {
  padding-left: 0px;
}
.column__zKeD {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__fgD38:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__nVo2P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__avEi {
  padding-left: 0px;
}
.column__uwg67 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__bxHl3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__nFa7P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__u258B {
  padding-left: 0px;
}
.column__hWrhp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__yHyfB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__q3Q4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__lGiS4 {
  padding-left: 0px;
}
.columns__uG0Qv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 445px;
  min-width: 0;
  padding: 8px;
}
.columns__uG0Qv > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__uG0Qv > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uG0Qv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uG0Qv > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__aikVe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__ehj8Y:global(.__wab_instance) {
  position: relative;
}
.svg__d6KKj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rjrdO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__dhV2T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__oIulP {
  position: relative;
}
.freeBox__jem4L {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__jem4L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__jem4L > :global(.__wab_flex-container) > *,
.freeBox__jem4L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jem4L > :global(.__wab_flex-container) > picture > img,
.freeBox__jem4L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jem4L {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__cfGbC {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__cfGbC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__cfGbC > :global(.__wab_flex-container) > *,
.freeBox__cfGbC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cfGbC > :global(.__wab_flex-container) > picture > img,
.freeBox__cfGbC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__bMkVy {
  flex-direction: column;
  display: flex;
}
.freeBox__bMkVy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bMkVy > :global(.__wab_flex-container) > *,
.freeBox__bMkVy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bMkVy > :global(.__wab_flex-container) > picture > img,
.freeBox__bMkVy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rCvNq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__tQ3Qm {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tQ3Qm {
    text-align: center;
  }
}
.text__zbeEg {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__xk7P5 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__xk7P5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__xk7P5 > :global(.__wab_flex-container) > *,
.freeBox__xk7P5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xk7P5 > :global(.__wab_flex-container) > picture > img,
.freeBox__xk7P5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xk7P5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xk7P5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xk7P5 > :global(.__wab_flex-container) > *,
  .freeBox__xk7P5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xk7P5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__xk7P5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__hVxG:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___76Lnz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5YYbl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__muGj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uVcIa {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__wjR9 {
  height: auto;
}
.priceCard___0B4ZH:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___2PNja {
  color: var(--token-R-3DcIJHsFFziK);
}
.valueProp__puAcn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wTu5 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yuEoS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yEs {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__x6Xux:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8AtyO {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__m5GGe {
  height: auto;
}
.priceCard__bkm97:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__fg7Mc {
  color: var(--token-dg5F2rkQFmiTZY);
}
.valueProp___7P9Iy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bMpD {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vd8AV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__plTw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bXfxm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jgWxr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ipej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qtDzd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ovrg3 {
  height: auto;
}
.priceCard__q0Yu6:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___7GnTr {
  color: var(--token-dtZjX0-3JH04eS);
}
.valueProp__xzvh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jtWk4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__xo6Lk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hctZr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kx9Lm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__s9Yq8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___0EluE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hUJwP {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__j5Rhr {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
