.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: 0px;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__lAHgi {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox__gyaDv {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__gyaDv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__gyaDv > :global(.__wab_flex-container) > *,
.freeBox__gyaDv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gyaDv > :global(.__wab_flex-container) > picture > img,
.freeBox__gyaDv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gyaDv {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gyaDv > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gyaDv > :global(.__wab_flex-container) > *,
  .freeBox__gyaDv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gyaDv > :global(.__wab_flex-container) > picture > img,
  .freeBox__gyaDv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__szSku {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox__szSku > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__szSku > :global(.__wab_flex-container) > *,
.freeBox__szSku > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__szSku > :global(.__wab_flex-container) > picture > img,
.freeBox__szSku
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__qGdHy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.columns__nMgHt {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-KwcBX3WgI9XXvz);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__nMgHt > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__nMgHt > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__nMgHt > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__nMgHt > :global(.__wab_flex-container) > *,
.columns__nMgHt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nMgHt > :global(.__wab_flex-container) > picture > img,
.columns__nMgHt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nMgHt {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 0px;
    max-width: 378px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nMgHt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nMgHt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nMgHt > :global(.__wab_flex-container) > *,
  .columns__nMgHt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__nMgHt > :global(.__wab_flex-container) > picture > img,
  .columns__nMgHt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__pDSbQ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__oBk9 {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__oBk9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__oBk9 > :global(.__wab_flex-container) > *,
.freeBox__oBk9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oBk9 > :global(.__wab_flex-container) > picture > img,
.freeBox__oBk9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__lYxm5 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__lYxm5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lYxm5 > :global(.__wab_flex-container) > *,
.freeBox__lYxm5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lYxm5 > :global(.__wab_flex-container) > picture > img,
.freeBox__lYxm5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lYxm5 {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lYxm5 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lYxm5 > :global(.__wab_flex-container) > *,
  .freeBox__lYxm5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lYxm5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__lYxm5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__b7Z6G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 60px;
  font-weight: 900;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b7Z6G {
    text-align: center;
  }
}
.text__l5TvX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 35px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__l5TvX {
    text-align: center;
  }
}
.text__hAsAo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hAsAo {
    text-align: center;
  }
}
.columns__joFy4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__joFy4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__joFy4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__joFy4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__joFy4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__lceXx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___8IUkF:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___8IUkF:global(.__wab_instance) {
    position: relative;
  }
}
.svg__wIvaG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nuVLz {
  height: auto;
}
.svg__enucK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__zDKw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.learnMore {
  position: relative;
  display: flex;
}
.text__qrbaA {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__npFke {
  display: flex;
  position: relative;
  flex-direction: column;
}
.img__noc0B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__noc0B > picture > img {
  object-fit: cover;
}
.img__noc0B > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___9BqMs {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.freeBox__baWek {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox__baWek > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__baWek > :global(.__wab_flex-container) > *,
.freeBox__baWek > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__baWek > :global(.__wab_flex-container) > picture > img,
.freeBox__baWek
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__s5Ws5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___7UOWz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.text__mw4Hn {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  padding-right: 0px;
}
.freeBox__lt6Hk {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.text__lgLy6 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  font-weight: 900;
  align-self: auto;
  margin-right: 0px;
}
.freeBox__nQrfW {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.freeBox__if2FT {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__if2FT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__if2FT > :global(.__wab_flex-container) > *,
.freeBox__if2FT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__if2FT > :global(.__wab_flex-container) > picture > img,
.freeBox__if2FT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__if2FT {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__if2FT > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__if2FT > :global(.__wab_flex-container) > *,
  .freeBox__if2FT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__if2FT > :global(.__wab_flex-container) > picture > img,
  .freeBox__if2FT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__iVVgX {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.columns__xvfaQ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__xvfaQ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__xvfaQ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xvfaQ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xvfaQ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___9KbCy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__pxUdW {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
}
.column__f60Mo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__od6Ly {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
.columns__cpvxO {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__cpvxO > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__cpvxO > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cpvxO {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cpvxO > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__bVFlU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__va8Iu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__va8Iu > picture > img {
  object-fit: cover;
}
.img__va8Iu > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__wAiDa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox___4NYzY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__qiWq6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text___4BXeS {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__bhcyw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__fpIos {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text___5YhO {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__e3Oi:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__e3Oi:global(.__wab_instance) {
    position: relative;
  }
}
.svg__pmZg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__rUZ7 {
  height: auto;
  text-align: left;
}
.svg___6HOQm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__l6Kpl {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox__wJpNu {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__wJpNu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__wJpNu > :global(.__wab_flex-container) > *,
.freeBox__wJpNu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wJpNu > :global(.__wab_flex-container) > picture > img,
.freeBox__wJpNu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wJpNu {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wJpNu > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wJpNu > :global(.__wab_flex-container) > *,
  .freeBox__wJpNu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wJpNu > :global(.__wab_flex-container) > picture > img,
  .freeBox__wJpNu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__sebVg {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.columns__vobMg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__vobMg > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__vobMg > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vobMg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vobMg > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jD7E9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__c9Ul {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 0px;
}
.column__uOh3A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__lG8Pp {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 0px;
}
.columns__nlT3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__nlT3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__nlT3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nlT3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nlT3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1GrT4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__cw5Nw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cw5Nw > picture > img {
  object-fit: cover;
}
.img__cw5Nw > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__dFtvj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox___3WcGn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3___1Ll5Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__pJSvD {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__jNctw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__smPhZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__oz1AS {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button___1H2Ki:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___1H2Ki:global(.__wab_instance) {
    position: relative;
  }
}
.svg__hk5U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___21Cdc {
  height: auto;
  text-align: left;
}
.svg__yclBx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns___0CrPx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___0CrPx > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___0CrPx > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0CrPx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0CrPx > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nd5Wi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__evm6J {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text___0AM6W {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.column__hMxeH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uy3Qa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uy3Qa > picture > img {
  object-fit: cover;
}
.img__uy3Qa > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__hPuid {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hPuid > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__hPuid > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hPuid {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hPuid > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pWCgL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__f3T6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__f3T6 > picture > img {
  object-fit: cover;
}
.img__f3T6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__mpMl4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__ewmV {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text___887Y5 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.text__wUyxu {
  position: relative;
}
.columns___8L1X8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___8L1X8 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___8L1X8 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8L1X8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8L1X8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__g9KI0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__hy8Vx {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__kdMs7 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-top: 0px;
}
.column___5DNvW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__h3DdT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__h3DdT > picture > img {
  object-fit: cover;
}
.img__h3DdT > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___6UeR4 {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox__d4Vp2 {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__d4Vp2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__d4Vp2 > :global(.__wab_flex-container) > *,
.freeBox__d4Vp2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d4Vp2 > :global(.__wab_flex-container) > picture > img,
.freeBox__d4Vp2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d4Vp2 {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d4Vp2 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d4Vp2 > :global(.__wab_flex-container) > *,
  .freeBox__d4Vp2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__d4Vp2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__d4Vp2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__mLiuI {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.columns__yY0X9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__yY0X9 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__yY0X9 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yY0X9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yY0X9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__zZmQy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___8WmH {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 0px;
}
.column__xrrNm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___3W1YP {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
.columns__jnVhf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__jnVhf > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jnVhf > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jnVhf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jnVhf > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gwHv5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__dfdW2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__dfdW2 > picture > img {
  object-fit: cover;
}
.img__dfdW2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__s4Ych {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__qpuQa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__xGl7I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__xZj52 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox___4Q4Qc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__j3J6R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__g7Jd {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button___5OcMh:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___5OcMh:global(.__wab_instance) {
    position: relative;
  }
}
.svg__dd940 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zzjQu {
  height: auto;
  text-align: left;
}
.svg__zoibp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns__jbx7S {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__jbx7S > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jbx7S > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jbx7S {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jbx7S > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___7Ecy2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2___5DwI5 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text___8Vyga {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.column___4FMhE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ooOQz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 36px;
}
.img__ooOQz > picture > img {
  object-fit: cover;
}
.img__ooOQz > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__mdy5J {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__mdy5J > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__mdy5J > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mdy5J {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mdy5J > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pSfZg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__besCd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 35px;
}
.img__besCd > picture > img {
  object-fit: cover;
}
.img__besCd > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___489E7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__ctdlZ {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__ykWXs {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.columns___6NOra {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___6NOra > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___6NOra > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6NOra {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6NOra > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__oWrbE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__vikni {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text___1FbJf {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-left: 0px;
  margin-top: 0px;
}
.column__l8MU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__tnLu6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tnLu6 > picture > img {
  object-fit: cover;
}
.img__tnLu6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__nNjiE {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__nNjiE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__nNjiE > :global(.__wab_flex-container) > *,
.freeBox__nNjiE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nNjiE > :global(.__wab_flex-container) > picture > img,
.freeBox__nNjiE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nNjiE {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__jNQ {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__jNQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__jNQ > :global(.__wab_flex-container) > *,
.freeBox__jNQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jNQ > :global(.__wab_flex-container) > picture > img,
.freeBox__jNQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__kBdgd {
  flex-direction: column;
  display: flex;
}
.freeBox__kBdgd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kBdgd > :global(.__wab_flex-container) > *,
.freeBox__kBdgd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kBdgd > :global(.__wab_flex-container) > picture > img,
.freeBox__kBdgd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__oBc83 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__qf2BA {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qf2BA {
    text-align: center;
  }
}
.freeBox__itkGr {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__itkGr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__itkGr > :global(.__wab_flex-container) > *,
.freeBox__itkGr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__itkGr > :global(.__wab_flex-container) > picture > img,
.freeBox__itkGr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__itkGr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__itkGr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__itkGr > :global(.__wab_flex-container) > *,
  .freeBox__itkGr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__itkGr > :global(.__wab_flex-container) > picture > img,
  .freeBox__itkGr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__aSUz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.freeBox__woUo3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 255px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
.img__p0Uky {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 211px;
  height: 282px;
  flex-shrink: 0;
}
.img__p0Uky > picture > img {
  object-fit: cover;
}
.img__p0Uky > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__xYnYw {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 336px;
  min-width: 0;
  display: none;
  padding: 8px;
}
.valueProp___5VEwB:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
  margin: 0px 0px 20px;
}
.text___6RDpr {
  height: auto;
}
.svg__t4AFo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__tQln:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  margin-bottom: 20px;
  min-width: 0;
}
.text__a9Ls {
  height: auto;
}
.svg__aaraw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ugkrQ:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
  margin: 0px 0px 20px;
}
.text__laAmv {
  height: auto;
}
.svg___27Wji {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g3HQh:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  margin-bottom: 20px;
  min-width: 0;
}
.text___9SFiz {
  height: auto;
}
.svg__itK6G {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__xWpbR:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__xyRhS {
  padding-right: 0px;
}
.svg__ruF4P {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.getStarted {
  display: flex;
}
.text__hAjmm {
  height: auto;
}
.priceCard__ll2M:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: auto;
  max-width: 316px;
}
.text__qPx13 {
  color: var(--token-R-3DcIJHsFFziK);
}
.freeBox__az2Ar {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 281px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.img__lPaGf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 201px;
  height: 281px;
  flex-shrink: 0;
}
.img__lPaGf > picture > img {
  object-fit: cover;
}
.img__lPaGf > .__wab_img-spacer > img {
  object-fit: cover;
}
.personalPlan {
  display: flex;
}
.text__pVjRf {
  height: auto;
}
.priceCard__m93K:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.text__zcL0Q {
  color: var(--token-dg5F2rkQFmiTZY);
}
.freeBox__jzNah {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 260px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.img__oaVu5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 217px;
  height: 260px;
  flex-shrink: 0;
}
.img__oaVu5 > picture > img {
  object-fit: cover;
}
.img__oaVu5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.proPlan {
  display: flex;
}
.text__icVmy {
  height: auto;
}
.priceCard___4Go8O:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.text__fy8Mo {
  color: var(--token-dtZjX0-3JH04eS);
}
.freeBox__w8FsN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 255px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.img__jNGlB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 215px;
  height: 255px;
  flex-shrink: 0;
}
.img__jNGlB > picture > img {
  object-fit: cover;
}
.img__jNGlB > .__wab_img-spacer > img {
  object-fit: cover;
}
.businessPlan {
  display: flex;
}
.text__b9EA2 {
  height: auto;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-prpT-LXzyjV1yA);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__ytiEy {
  flex-direction: column;
  display: flex;
}
.freeBox__ytiEy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ytiEy > :global(.__wab_flex-container) > *,
.freeBox__ytiEy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ytiEy > :global(.__wab_flex-container) > picture > img,
.freeBox__ytiEy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ioRpM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__wp6Qw {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__wIiS6 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.columns__p4DXf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__p4DXf > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p4DXf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p4DXf > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wBAqC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___6Z4Ky:global(.__wab_instance) {
  position: relative;
}
.svg__jOFH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___5Hria {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
