.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
  margin-left: 0px;
}
.freeBox___59SQq {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___59SQq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___59SQq > :global(.__wab_flex-container) > *,
.freeBox___59SQq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___59SQq > :global(.__wab_flex-container) > picture > img,
.freeBox___59SQq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___59SQq {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__k9Yem {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__ua2Pp {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__yi7Qs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__yi7Qs > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__yi7Qs > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yi7Qs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yi7Qs > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jPYy8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__uLaR7:global(.__wab_instance) {
  position: relative;
}
.svg___3MOx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__o4W4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__yigvO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__rApYb {
  position: relative;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token--5GuW43mkzDwqY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__a86Cv {
  flex-direction: column;
  display: flex;
}
.freeBox__a86Cv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__a86Cv > :global(.__wab_flex-container) > *,
.freeBox__a86Cv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a86Cv > :global(.__wab_flex-container) > picture > img,
.freeBox__a86Cv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__d0CVe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__id2Qt {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  margin-bottom: 0px;
  align-self: center;
}
.freeBox__w7K8L {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__w7K8L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__w7K8L > :global(.__wab_flex-container) > *,
.freeBox__w7K8L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w7K8L > :global(.__wab_flex-container) > picture > img,
.freeBox__w7K8L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__taRJ {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__taRJ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__taRJ > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__taRJ > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__taRJ > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__taRJ > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__taRJ > :global(.__wab_flex-container) > *,
.columns__taRJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__taRJ > :global(.__wab_flex-container) > picture > img,
.columns__taRJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__taRJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__taRJ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__taRJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__taRJ > :global(.__wab_flex-container) > *,
  .columns__taRJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__taRJ > :global(.__wab_flex-container) > picture > img,
  .columns__taRJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column___5W7GH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__wVeEo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__s6YPa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__qh1 {
  padding-left: 0px;
}
.column__dl9JV {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___5Dwia:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__pMuRk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text___2Lzaj {
  padding-left: 0px;
}
.column__qqo86 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__lY46G:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fqmmD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__mvHu4 {
  padding-left: 0px;
}
.column__d5AYk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__u2A5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rr8Fx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__w9GIf {
  padding-left: 0px;
}
.columns__rUdS4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__rUdS4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__rUdS4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rUdS4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rUdS4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__clkbJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__ydvf4:global(.__wab_instance) {
  position: relative;
}
.svg__mBvtp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__eRwM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__wx9Fj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___7SPrG {
  position: relative;
}
.freeBox__hOcRp {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__hOcRp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__hOcRp > :global(.__wab_flex-container) > *,
.freeBox__hOcRp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hOcRp > :global(.__wab_flex-container) > picture > img,
.freeBox__hOcRp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hOcRp {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__quRtr {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__quRtr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__quRtr > :global(.__wab_flex-container) > *,
.freeBox__quRtr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__quRtr > :global(.__wab_flex-container) > picture > img,
.freeBox__quRtr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__i87J {
  flex-direction: column;
  display: flex;
}
.freeBox__i87J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__i87J > :global(.__wab_flex-container) > *,
.freeBox__i87J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i87J > :global(.__wab_flex-container) > picture > img,
.freeBox__i87J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__bkATq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__dYa9U {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dYa9U {
    text-align: center;
  }
}
.text__r4GKc {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__ainS3 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ainS3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ainS3 > :global(.__wab_flex-container) > *,
.freeBox__ainS3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ainS3 > :global(.__wab_flex-container) > picture > img,
.freeBox__ainS3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ainS3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ainS3 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ainS3 > :global(.__wab_flex-container) > *,
  .freeBox__ainS3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ainS3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ainS3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__cCor0:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__tp1Qh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cpAyL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hZlOj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dvByK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__hKaq {
  height: auto;
}
.priceCard__wEbeF:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___60Nb2 {
  color: var(--token-R-3DcIJHsFFziK);
}
.valueProp__zIVb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4U9KS {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__dNvG1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fpVKs {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hBEa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__a2V9V {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__u2CU {
  height: auto;
}
.priceCard__b5Iud:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__wYxxP {
  color: var(--token-dg5F2rkQFmiTZY);
}
.valueProp___2Me46:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qn1Ns {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___7Z4Lg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__o1N9G {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___9KLQw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cc5An {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mFeo7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qORxK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__rzG4M {
  height: auto;
}
.priceCard__gwdtp:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__vvajo {
  color: var(--token-dtZjX0-3JH04eS);
}
.valueProp__jkbZq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__v3U1Q {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__oXzu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__j0LjV {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__fb8PN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__slxBf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sIdK8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2OwMu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__wldIw {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
