.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: 0px;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.columns__nsDK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 1142px;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  align-self: center;
  padding: 8px 8px 30px;
}
.columns__nsDK > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__nsDK > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nsDK {
    width: 502px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nsDK > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__olCOy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 31px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__olCOy {
    padding-left: 0px;
    padding-top: 0px;
  }
}
.freeBox__blG3 {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__blG3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__blG3 > :global(.__wab_flex-container) > *,
.freeBox__blG3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__blG3 > :global(.__wab_flex-container) > picture > img,
.freeBox__blG3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__blG3 {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__blG3 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__blG3 > :global(.__wab_flex-container) > *,
  .freeBox__blG3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__blG3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__blG3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox___0T7OB {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox___0T7OB > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0T7OB > :global(.__wab_flex-container) > *,
.freeBox___0T7OB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0T7OB > :global(.__wab_flex-container) > picture > img,
.freeBox___0T7OB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__oG4Kn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.columns__zmeE9 {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-KwcBX3WgI9XXvz);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__zmeE9 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__zmeE9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 64px) * 12 / 12);
}
.columns__zmeE9 > :global(.__wab_flex-container) > *,
.columns__zmeE9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zmeE9 > :global(.__wab_flex-container) > picture > img,
.columns__zmeE9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zmeE9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 0px;
    max-width: 378px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zmeE9 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zmeE9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zmeE9 > :global(.__wab_flex-container) > *,
  .columns__zmeE9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__zmeE9 > :global(.__wab_flex-container) > picture > img,
  .columns__zmeE9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column___0G6Ru {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__eb77O {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__eb77O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__eb77O > :global(.__wab_flex-container) > *,
.freeBox__eb77O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eb77O > :global(.__wab_flex-container) > picture > img,
.freeBox__eb77O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__laXau {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__laXau > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__laXau > :global(.__wab_flex-container) > *,
.freeBox__laXau > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__laXau > :global(.__wab_flex-container) > picture > img,
.freeBox__laXau
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__laXau {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__laXau > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__laXau > :global(.__wab_flex-container) > *,
  .freeBox__laXau > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__laXau > :global(.__wab_flex-container) > picture > img,
  .freeBox__laXau
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.h1 {
  position: relative;
  width: 468px;
  height: auto;
  max-width: 724px;
  font-size: 60px;
  font-weight: 900;
  padding-right: 0px;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    text-align: center;
    align-self: center;
    padding-bottom: 7px;
    margin-top: calc(0px + 16px) !important;
    width: 376px;
  }
}
.text__zkVpt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zkVpt {
    text-align: center;
  }
}
.h2__dv33F {
  height: 96px;
  padding-right: 0px;
  width: 498px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__dv33F {
    width: 379px;
    text-align: center;
  }
}
.columns__zdYtW {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zdYtW > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__zdYtW > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zdYtW {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zdYtW > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__syNqV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.button__fBrpc:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__fBrpc:global(.__wab_instance) {
    position: relative;
    align-self: center;
  }
}
.svg__oK2Ei {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dwFWx {
  height: auto;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__pdaN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.learnMore {
  position: relative;
  display: flex;
}
.text__acVfd {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__acVfd {
    align-self: center;
  }
}
.reveal__k5FkG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__k5FkG:global(.__wab_instance) {
    display: flex;
  }
}
.img___3NPn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img___3NPn > picture > img {
  object-fit: cover;
}
.img___3NPn > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___3NPn {
    display: inline-block !important;
  }
}
.column__zPpxK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 93px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zPpxK {
    display: none;
  }
}
.reveal__nrzE9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__hx3Ga {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__hx3Ga > picture > img {
  object-fit: cover;
}
.img__hx3Ga > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__tgjNr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: var(--token--5GuW43mkzDwqY);
  margin-bottom: 0px;
  min-width: 0;
  padding: 50px 8px 49px;
}
.freeBox__pHuWw {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox__pHuWw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pHuWw > :global(.__wab_flex-container) > *,
.freeBox__pHuWw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pHuWw > :global(.__wab_flex-container) > picture > img,
.freeBox__pHuWw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__sId {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-v6LfSbn-y);
  line-height: 1;
  text-align: center;
  margin-top: calc(0px + 16px) !important;
}
.text__mna0D {
  font-size: 20px;
  color: var(--token-84B4HXdPA2sNrs);
  text-align: center;
  line-height: 28px;
  padding-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  max-width: 981px;
  width: 100%;
  min-width: 0;
}
.freeBox__fTvWn {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 50px 8px 51px;
}
.text___0I3Nc {
  font-size: 20px;
  color: #5856d6;
  text-align: center;
  line-height: 28px;
  font-weight: 900;
  align-self: auto;
  margin-right: 0px;
}
.freeBox__i3Ve4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 70px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i3Ve4 {
    padding-top: 0px;
    margin-top: 2px;
  }
}
.freeBox__rJ9Pp {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__rJ9Pp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__rJ9Pp > :global(.__wab_flex-container) > *,
.freeBox__rJ9Pp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rJ9Pp > :global(.__wab_flex-container) > picture > img,
.freeBox__rJ9Pp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rJ9Pp {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rJ9Pp > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rJ9Pp > :global(.__wab_flex-container) > *,
  .freeBox__rJ9Pp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rJ9Pp > :global(.__wab_flex-container) > picture > img,
  .freeBox__rJ9Pp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2__ruRb8 {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: right;
  max-width: 811px;
  width: 100%;
  margin-right: 2px;
  padding-left: 0px;
  margin-top: calc(7px + 48px) !important;
  padding-right: 76px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__ruRb8 {
    max-width: 490px;
    width: 100%;
    margin-left: calc(0px + 0px) !important;
    padding-left: 57px;
    padding-right: 113px;
    margin-top: calc(7px + 24px) !important;
    min-width: 0;
  }
}
.columns__aXrIu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__aXrIu > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aXrIu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aXrIu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fwE6F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__d3Xih {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 0px;
  margin-left: 39px;
  max-width: 822px;
  width: 100%;
  padding-right: 0px;
  height: 148px;
  padding-left: 116px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__d3Xih {
    max-width: 384px;
    width: 100%;
    padding-left: 29px;
    text-align: left;
    min-width: 0;
  }
}
.link {
  color: var(--token--5GuW43mkzDwqY);
}
.freeBox__dEi6C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dEi6C {
    padding-top: 6px;
  }
}
.columns___5F7Bp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___5F7Bp > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___5F7Bp > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5F7Bp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5F7Bp > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1Ik0B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 77px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1Ik0B {
    padding-top: 0px;
  }
}
.h3__qdIyc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 403px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  padding-right: 146px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__qdIyc {
    margin-top: 73px;
    text-align: left;
  }
}
.text__em7R {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 407px;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 32px;
  padding-right: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__em7R {
    text-align: left;
  }
}
.h3__qQv3F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__qQv3F {
    text-align: left;
  }
}
.text__j3Hk6 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  max-width: 410px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j3Hk6 {
    text-align: left;
  }
}
.column__vDgXg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__j8NAp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__ryxQi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__ryxQi > picture > img {
  object-fit: cover;
}
.img__ryxQi > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__rUsTu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 8px 5px;
}
.freeBox__ubf4H {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  height: 1066px;
}
.freeBox__ubf4H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ubf4H > :global(.__wab_flex-container) > *,
.freeBox__ubf4H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ubf4H > :global(.__wab_flex-container) > picture > img,
.freeBox__ubf4H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ubf4H {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0px;
    height: 1124px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ubf4H > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ubf4H > :global(.__wab_flex-container) > *,
  .freeBox__ubf4H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ubf4H > :global(.__wab_flex-container) > picture > img,
  .freeBox__ubf4H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2__qgcRq {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: center;
  margin-top: calc(50px + 48px) !important;
  padding-top: 0px;
  padding-right: 0px;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__qgcRq {
    padding-right: 0px;
    margin-top: calc(50px + 24px) !important;
  }
}
.columns__qeeI {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 887px;
  min-width: 0;
  padding: 8px;
}
.columns__qeeI > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qeeI {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qeeI > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xhZb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px 27px 0px 20px;
}
.text__b3Ta {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  margin-right: 1px;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 91px;
  max-width: 779px;
  width: 100%;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b3Ta {
    max-width: 360px;
    width: 100%;
    height: 114px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.text__kMcf2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 587px;
  padding-bottom: 1px;
  min-width: 0;
}
.ol {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 652px;
  text-align: left;
  height: 165px;
  margin-left: 0px;
  padding-left: 50px;
  margin-right: 3px;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ol {
    width: 519px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    padding-left: 110px;
  }
}
.li__erha {
  width: 458px;
  color: var(--token-Q7mRTlOpI3gcbr);
  font-size: 20px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__erha {
    width: 315px;
    padding-left: 0px;
    margin-left: 0px;
  }
}
.li__hQaXo {
  width: 209px;
  color: var(--token-Q7mRTlOpI3gcbr);
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__hQaXo {
    width: 289px;
    padding-left: 6px;
    margin-right: 98px;
  }
}
.li__gmRK {
  width: 545px;
  color: var(--token-Q7mRTlOpI3gcbr);
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__gmRK {
    width: 319px;
  }
}
.li__xJuH7 {
  width: 538px;
  color: var(--token-Q7mRTlOpI3gcbr);
  font-size: 20px;
  text-align: left;
  margin-right: 2px;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__xJuH7 {
    margin-right: 0px;
    width: 349px;
  }
}
.li__hvjpR {
  width: 563px;
  color: var(--token-Q7mRTlOpI3gcbr);
  font-size: 20px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__hvjpR {
    width: 336px;
  }
}
.columns__ka2SL {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: calc(0px + 48px) !important;
  min-width: 0;
  padding: 0px 8px 8px;
}
.columns__ka2SL > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ka2SL > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ka2SL {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 24px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ka2SL > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__g6A3L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 11px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__g6A3L {
    padding-top: 75px;
  }
}
.h2__pliXc {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  padding-bottom: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__pliXc {
    padding-top: 25px;
  }
}
.h3__sDTgN {
  padding-right: 0px;
  color: #5856d6;
  text-align: left;
  padding-left: 0px;
  width: 399px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__sDTgN {
    width: 337px;
    height: 50px;
    margin-top: 27px;
    text-align: left;
  }
}
.text__xehPs {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
  padding-top: 0px;
  max-width: 406px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xehPs {
    margin-right: 0px;
    max-width: 332px;
    width: 100%;
    padding-right: 8px;
    min-width: 0;
  }
}
.column__x3A5H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__bZyh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__uTuaz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uTuaz > picture > img {
  object-fit: cover;
}
.img__uTuaz > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uTuaz {
    width: 400px;
  }
}
.freeBox___5KZn0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5KZn0 {
    padding-top: 64px;
    margin-top: 229px;
  }
}
.freeBox__iilIl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 921px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.h2__la1SW {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  position: relative;
  width: 100%;
  height: 65px;
  max-width: 800px;
  background: #ffffff;
  text-align: center;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__la1SW {
    padding-left: 0px;
  }
}
.text__hmj5I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 809px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  font-size: 20px;
  margin-top: 63px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hmj5I {
    text-align: center;
    max-width: 414px;
    width: 100%;
    min-width: 0;
  }
}
.columns__fMh3G {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 55px 8px 8px;
}
.columns__fMh3G > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__fMh3G > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fMh3G {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-top: 10px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fMh3G > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1He7S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__eh6O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__eh6O:global(.__wab_instance) {
    display: flex;
  }
}
.img__wAOzr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  display: none !important;
}
.img__wAOzr > picture > img {
  object-fit: cover;
}
.img__wAOzr > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wAOzr {
    display: inline-block !important;
  }
}
.reveal___6IbEu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___7QdVk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 400px;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img___7QdVk > picture > img {
  object-fit: cover;
}
.img___7QdVk > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___7QdVk {
    margin-left: 0px;
    width: 100%;
    min-width: 0;
    display: none !important;
  }
}
.column___4V72 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal___1RZb0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal___1RZb0:global(.__wab_instance) {
    display: flex;
  }
}
.img__rr9B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  margin-bottom: 0px;
  display: none !important;
}
.img__rr9B > picture > img {
  object-fit: cover;
}
.img__rr9B > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rr9B {
    display: inline-block !important;
  }
}
.reveal__ekpxW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__ooNWe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 400px;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__ooNWe > picture > img {
  object-fit: cover;
}
.img__ooNWe > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ooNWe {
    display: none !important;
  }
}
.freeBox___7TkPl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7TkPl {
    margin-top: 478px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.freeBox__z6Ic {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
  height: 483px;
  padding-bottom: 0px;
}
.freeBox__z6Ic > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__z6Ic > :global(.__wab_flex-container) > *,
.freeBox__z6Ic > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z6Ic > :global(.__wab_flex-container) > picture > img,
.freeBox__z6Ic
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z6Ic {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0px;
    height: 856px;
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z6Ic > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z6Ic > :global(.__wab_flex-container) > *,
  .freeBox__z6Ic > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__z6Ic > :global(.__wab_flex-container) > picture > img,
  .freeBox__z6Ic
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2__bevN {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: center;
  margin-top: calc(100px + 48px) !important;
  padding-top: 0px;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__bevN {
    margin-top: calc(100px + 24px) !important;
  }
}
.columns__isIP {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__isIP > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__isIP > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__isIP {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__isIP > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nRm6F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.text__mjWaA {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mjWaA {
    padding-top: 0px;
    max-width: 341px;
    width: 100%;
    margin-right: 3px;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    min-width: 0;
  }
}
.column___7QHiT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7QHiT {
    padding-bottom: 0px;
  }
}
.text__sm5Pn {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 0px;
  margin-top: 0px;
  max-width: 456px;
  width: 100%;
  max-height: 244px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sm5Pn {
    padding-bottom: 0px;
    text-align: center;
    padding-right: 0px;
    max-width: 383px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__gab4W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token--5GuW43mkzDwqY);
  margin-top: 61px;
  min-width: 0;
  padding: 63px 8px 79px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gab4W {
    margin-top: 45px;
  }
}
.h2__g8Yqk {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-n8ng2nRtCg1I0c);
  line-height: 1;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__iaHjm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-84B4HXdPA2sNrs);
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iaHjm {
    max-width: 400px;
    width: 100%;
    min-width: 0;
  }
}
.reveal__vdHKa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  box-shadow: none;
}
.img__xp6JN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 548px;
  margin-top: 69px;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__xp6JN > picture > img {
  object-fit: cover;
}
.img__xp6JN > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xp6JN {
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;
    height: 295px;
    min-width: 0;
  }
}
.freeBox__wAhpw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1689px;
  height: auto;
  max-width: 100%;
  margin-bottom: 47px;
  align-self: center;
  padding: 8px 8px 7px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wAhpw {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.h2___7AtP {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 71px;
  margin-bottom: 58px;
  padding-bottom: 2px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___7AtP {
    max-width: 422px;
    width: 100%;
    min-width: 0;
  }
}
.text__ctvqp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-bottom: 3px;
  margin-top: 0px;
  font-size: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ctvqp {
    padding-bottom: 1px;
    max-width: 406px;
    width: 100%;
    min-width: 0;
  }
}
.reveal__xlCgw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  text-align: center;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__xlCgw:global(.__wab_instance) {
    margin-top: 42px;
  }
}
.img__ap4A7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 980px;
  align-self: center;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  margin: 0px 0px 59px;
}
.img__ap4A7 > picture > img {
  object-fit: cover;
}
.img__ap4A7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-prpT-LXzyjV1yA);
  padding: 64px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    margin-top: 0px;
  }
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__bOaQn {
  flex-direction: column;
  display: flex;
}
.freeBox__bOaQn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bOaQn > :global(.__wab_flex-container) > *,
.freeBox__bOaQn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bOaQn > :global(.__wab_flex-container) > picture > img,
.freeBox__bOaQn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yo6Q4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__zcTaS {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
  text-align: center;
}
.text__u0Quw {
  font-size: 20px;
  color: var(--token-84B4HXdPA2sNrs);
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u0Quw {
    max-width: 399px;
    width: 100%;
    min-width: 0;
  }
}
.columns__kuIsy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__kuIsy > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kuIsy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kuIsy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__aQWhX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__oN2Zv:global(.__wab_instance) {
  position: relative;
}
.svg__cRpUb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___5Vlzi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fathymFooter:global(.__wab_instance) {
    margin-left: 29px;
    width: 489px;
    margin-right: 0px;
  }
}
