.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__tqduC {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__tqduC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__tqduC > :global(.__wab_flex-container) > *,
.freeBox__tqduC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tqduC > :global(.__wab_flex-container) > picture > img,
.freeBox__tqduC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tqduC {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal___8Qx28:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___1X0Y1 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
  padding-top: 0px;
}
.reveal__sKvSi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__nb5OS {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.reveal__kx0DB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns___2WsSb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 446px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.columns___2WsSb > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___2WsSb > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2WsSb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2WsSb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qjixL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__wyz59:global(.__wab_instance) {
  position: relative;
}
.svg__r4Skj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3W2Lm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__ctoJz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__rtpaf {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
  max-width: 1529px;
  width: 100%;
  min-width: 0;
}
.reveal___95Pt9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___5NhiP {
  flex-direction: column;
  display: flex;
  height: auto;
  max-width: 1457px;
  width: 100%;
  min-width: 0;
}
.freeBox___5NhiP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___5NhiP > :global(.__wab_flex-container) > *,
.freeBox___5NhiP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5NhiP > :global(.__wab_flex-container) > picture > img,
.freeBox___5NhiP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__bg1Wq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal__g45On:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__efjkk {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.text___6EW8 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  position: relative;
  text-align: center;
}
.text___2FTk1 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  padding-bottom: 0px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.reveal__lxIy9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__lxIy9:global(.__wab_instance) {
    display: flex;
  }
}
.valueProp___64Vw0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___3GHLj {
  height: auto;
  max-width: 240px;
  width: 100%;
  min-width: 0;
}
.react {
  display: flex;
}
.text___55WFh {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  text-align: left;
  font-weight: 700;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__eCcKk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__kNniR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___82LpM {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__kMqq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__kMqq:global(.__wab_instance) {
    display: flex;
  }
}
.valueProp__gTmV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___8Vyc7 {
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.vue {
  display: flex;
}
.text___2InBy {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  font-weight: 700;
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__coeBc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hWEf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___0PDvQ {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__fH87S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__fH87S:global(.__wab_instance) {
    display: flex;
  }
}
.valueProp__hdfhc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___1Jsd5 {
  padding-bottom: 0px;
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.svelte {
  display: flex;
}
.text__sOugM {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  font-weight: 700;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__sz4HF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__kwetC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hkWff {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__kkN3L {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.reveal__wnMn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__f4WWq {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  height: auto;
  padding-right: 0px;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
.columns__eNf1S {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__eNf1S > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__eNf1S > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eNf1S {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eNf1S > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___8URFu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__b1V5L:global(.__wab_instance) {
  position: relative;
}
.svg___5BRlk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vcGf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__rdhWw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 21px;
}
.link__xKbY {
  display: flex;
}
.text__uNsew {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  font-weight: 700;
}
.button__hQJos:global(.__wab_instance) {
  display: none;
}
.svg___6Oeae {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___6AIxl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token--5GuW43mkzDwqY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__pa4WF {
  flex-direction: column;
  display: flex;
}
.freeBox__pa4WF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pa4WF > :global(.__wab_flex-container) > *,
.freeBox__pa4WF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pa4WF > :global(.__wab_flex-container) > picture > img,
.freeBox__pa4WF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__qXze {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal__w1ZY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__fw6Wv {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__oyy16 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  width: auto;
}
.freeBox___4HWd1 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox___4HWd1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___4HWd1 > :global(.__wab_flex-container) > *,
.freeBox___4HWd1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4HWd1 > :global(.__wab_flex-container) > picture > img,
.freeBox___4HWd1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__kuceE {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__kuceE > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__kuceE > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kuceE > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kuceE > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kuceE > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kuceE > :global(.__wab_flex-container) > *,
.columns__kuceE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kuceE > :global(.__wab_flex-container) > picture > img,
.columns__kuceE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kuceE {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kuceE > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kuceE > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kuceE > :global(.__wab_flex-container) > *,
  .columns__kuceE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kuceE > :global(.__wab_flex-container) > picture > img,
  .columns__kuceE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__wbuUm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___3HQng:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wvD94 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__bVkm2 {
  padding-left: 0px;
}
.column__khwwq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__cifMk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___75Qud {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text___2B7Y5 {
  padding-left: 0px;
}
.column__bvI8Z {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___8U6Mu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yxgyh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text___6VtM {
  padding-left: 0px;
}
.column__hMRz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__zk00U:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__kv1B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__adTom {
  padding-left: 0px;
}
.columns__ooSdo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ooSdo > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ooSdo > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ooSdo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ooSdo > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__oUWa6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__fhIk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 355px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.button__qPza3:global(.__wab_instance) {
  position: relative;
}
.svg__kPaMj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jpfiO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__ki6Hj {
  position: relative;
  height: 32px;
  align-self: center;
}
.column__oTiq9 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 8px 8px 0px;
}
.freeBox__p4Ap0 {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__p4Ap0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__p4Ap0 > :global(.__wab_flex-container) > *,
.freeBox__p4Ap0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p4Ap0 > :global(.__wab_flex-container) > picture > img,
.freeBox__p4Ap0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p4Ap0 {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__bC8 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__bC8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__bC8 > :global(.__wab_flex-container) > *,
.freeBox__bC8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bC8 > :global(.__wab_flex-container) > picture > img,
.freeBox__bC8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__sGZn {
  flex-direction: column;
  display: flex;
}
.freeBox__sGZn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sGZn > :global(.__wab_flex-container) > *,
.freeBox__sGZn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sGZn > :global(.__wab_flex-container) > picture > img,
.freeBox__sGZn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__h75Lh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__iJkpT {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iJkpT {
    text-align: center;
  }
}
.text___4Sjmf {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___8ZR42 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___8ZR42 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___8ZR42 > :global(.__wab_flex-container) > *,
.freeBox___8ZR42 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8ZR42 > :global(.__wab_flex-container) > picture > img,
.freeBox___8ZR42
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8ZR42 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8ZR42 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8ZR42 > :global(.__wab_flex-container) > *,
  .freeBox___8ZR42 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8ZR42 > :global(.__wab_flex-container) > picture > img,
  .freeBox___8ZR42
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__sAp1:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__eWej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xzkoU {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gnokw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__msOtQ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__tmcov {
  height: auto;
}
.priceCard__vklSe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___2HO7G {
  color: var(--token-R-3DcIJHsFFziK);
}
.valueProp__eWoCx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5CAot {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ei9F8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fh5Mm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__dTtgk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bwZVn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__gh91P {
  height: auto;
}
.priceCard__es5GN:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__tvIU {
  color: var(--token-dg5F2rkQFmiTZY);
}
.valueProp___0BShO:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9IbGx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gs9On:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__v3AUi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bwxTo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pEOvb {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__qaKSn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__w40Lj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__qflAm {
  height: auto;
}
.priceCard__pf4Bb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__kdhFf {
  color: var(--token-dtZjX0-3JH04eS);
}
.valueProp__uq0Cy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__y8TFc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__tmobF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lrLqr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__aoQ61:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kWdQ4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___5VoB:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dFuWd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__bK5Pq {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
