.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__rZPd {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-PfCs5QPr0EnmjX);
}
.img__anYme {
  position: relative;
  object-fit: contain;
  max-width: 75%;
  margin-bottom: 0px;
  height: 185px;
  max-height: 75px;
  object-position: center center;
  align-self: center;
  flex-shrink: 0;
}
.img__anYme > picture > img {
  object-fit: contain;
  object-position: center center;
}
.img__anYme > .__wab_img-spacer > img {
  object-fit: contain;
  object-position: center center;
}
.freeBox__wImwM {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 50%;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  align-self: center;
  min-width: 0;
}
.freeBox__wImwM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__wImwM > :global(.__wab_flex-container) > *,
.freeBox__wImwM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wImwM > :global(.__wab_flex-container) > picture > img,
.freeBox__wImwM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wImwM {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wImwM > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wImwM > :global(.__wab_flex-container) > *,
  .freeBox__wImwM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wImwM > :global(.__wab_flex-container) > picture > img,
  .freeBox__wImwM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___1XxI {
  flex-direction: row;
  display: flex;
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox___1XxI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___1XxI > :global(.__wab_flex-container) > *,
.freeBox___1XxI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1XxI > :global(.__wab_flex-container) > picture > img,
.freeBox___1XxI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1XxI {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1XxI > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1XxI > :global(.__wab_flex-container) > *,
  .freeBox___1XxI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1XxI > :global(.__wab_flex-container) > picture > img,
  .freeBox___1XxI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__mJtpM {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  padding-top: 0px;
  flex-shrink: 0;
}
.freeBox__mJtpM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mJtpM > :global(.__wab_flex-container) > *,
.freeBox__mJtpM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mJtpM > :global(.__wab_flex-container) > picture > img,
.freeBox__mJtpM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__fcnCz {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcom {
  position: relative;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwfathymcom:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwiotEnsemblecom {
  position: relative;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwiotEnsemblecom:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwhabistackcom {
  position: relative;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwhabistackcom:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwproadjectcom {
  position: relative;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  display: none;
}
.root .httpswwwproadjectcom:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__ftyoV {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__ftyoV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ftyoV > :global(.__wab_flex-container) > *,
.freeBox__ftyoV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ftyoV > :global(.__wab_flex-container) > picture > img,
.freeBox__ftyoV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__bbWH {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcomdocs {
  position: relative;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwfathymcomdocs:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwfathymcomblog {
  position: relative;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwfathymcomblog:hover {
  color: var(--token-NEon4Y--Z);
}
.mailtosupportfathymcom {
  position: relative;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .mailtosupportfathymcom:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__zGkn2 {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__zGkn2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zGkn2 > :global(.__wab_flex-container) > *,
.freeBox__zGkn2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zGkn2 > :global(.__wab_flex-container) > picture > img,
.freeBox__zGkn2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__t7Hqf {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.enterpriseAgreement {
  position: relative;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-size: 14px;
  max-width: none;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .enterpriseAgreement:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.termsOfService {
  color: var(--token-VHZJ4IAZBiXzu4);
  font-size: 14px;
  margin-right: 0px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .termsOfService:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.privacyPolicy {
  position: relative;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .privacyPolicy:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__c5Tas {
  flex-direction: column;
  position: relative;
  width: 200px;
  flex-shrink: 0;
  display: none;
}
.freeBox__c5Tas > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__c5Tas > :global(.__wab_flex-container) > *,
.freeBox__c5Tas > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c5Tas > :global(.__wab_flex-container) > picture > img,
.freeBox__c5Tas
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__o04K {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.text__vsm31 {
  position: relative;
  font-size: 14px;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.textInput2:global(.__wab_instance) {
  position: relative;
}
.svg__lbl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button2:global(.__wab_instance) {
  position: relative;
}
.svg__pmOaS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg___5Avmv {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__nwni0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__xr2Bi {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-PfCs5QPr0EnmjX);
}
.freeBox__spDYn {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__spDYn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spDYn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spDYn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spDYn > :global(.__wab_flex-container) > *,
  .freeBox__spDYn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__spDYn > :global(.__wab_flex-container) > picture > img,
  .freeBox__spDYn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__ecRii {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__sJhV6 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.img__xTzOo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xTzOo > picture > img {
  object-fit: cover;
}
.img__xTzOo > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__x4Lz8 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-VHZJ4IAZBiXzu4);
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.freeBox__tyYar {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__tyYar > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tyYar > :global(.__wab_flex-container) > *,
.freeBox__tyYar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tyYar > :global(.__wab_flex-container) > picture > img,
.freeBox__tyYar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.fathymIt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.httpstwittercomFathymIt {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .httpstwittercomFathymIt:hover {
  color: var(--token-dph1wZ7NjV9);
}
.httpsgithubcomfathym:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.gitHub {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .gitHub:hover {
  color: var(--token-dph1wZ7NjV9);
}
.httpswwwfacebookcomFathymInc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.facebook {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .facebook:hover {
  color: var(--token-dph1wZ7NjV9);
}
