.root {
  flex-direction: row;
  display: flex;
  position: relative;
  background: var(--token-n8ng2nRtCg1I0c);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 48px;
}
.freeBox__qltPw {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qltPw {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.art {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .art {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    min-height: 320px;
    flex-column-gap: 0px;
  }
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.blend {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: var(--token-64W6sKGk4Ywv_2);
}
.freeBox__m4YKm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__c4GXi {
  flex-direction: column;
  display: flex;
  width: 100%;
  background: var(--token-DJm89Po5w6705R);
  min-width: 0;
  padding: 64px;
}
.freeBox__c4GXi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__c4GXi > :global(.__wab_flex-container) > *,
.freeBox__c4GXi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c4GXi > :global(.__wab_flex-container) > picture > img,
.freeBox__c4GXi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c4GXi {
    padding: 128px 32px;
  }
}
.copy {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 800px;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.freeBox__zHvwo {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__zHvwo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zHvwo > :global(.__wab_flex-container) > *,
.freeBox__zHvwo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zHvwo > :global(.__wab_flex-container) > picture > img,
.freeBox__zHvwo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__jXg0Z {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-fMmuWPnaveZbJL);
}
.text___0Hhfs {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-fMmuWPnaveZbJL);
  line-height: 1;
}
.text__fNwj5 {
  font-size: 20px;
  color: var(--token-MH9jTQ0W07sTDg);
  line-height: 28px;
}
.freeBox__vPgcT {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__vPgcT > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vPgcT > :global(.__wab_flex-container) > *,
.freeBox__vPgcT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vPgcT > :global(.__wab_flex-container) > picture > img,
.freeBox__vPgcT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__exTcO:global(.__wab_instance) {
  position: relative;
}
.svg__jzlmh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__j6UWl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__xl46S:global(.__wab_instance) {
  position: relative;
}
.svg__iPxS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ap5Sl {
  height: auto;
  font-weight: 400;
}
.svg__tcIa3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
