.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: 0px;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__w1Zh5 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox__ctpv5 {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__ctpv5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ctpv5 > :global(.__wab_flex-container) > *,
.freeBox__ctpv5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ctpv5 > :global(.__wab_flex-container) > picture > img,
.freeBox__ctpv5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ctpv5 {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ctpv5 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ctpv5 > :global(.__wab_flex-container) > *,
  .freeBox__ctpv5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ctpv5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ctpv5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox___08KDv {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox___08KDv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___08KDv > :global(.__wab_flex-container) > *,
.freeBox___08KDv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___08KDv > :global(.__wab_flex-container) > picture > img,
.freeBox___08KDv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__lhbJw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.columns__wdfn {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-KwcBX3WgI9XXvz);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__wdfn > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__wdfn > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__wdfn > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__wdfn > :global(.__wab_flex-container) > *,
.columns__wdfn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wdfn > :global(.__wab_flex-container) > picture > img,
.columns__wdfn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wdfn {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 0px;
    max-width: 378px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wdfn > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wdfn > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wdfn > :global(.__wab_flex-container) > *,
  .columns__wdfn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__wdfn > :global(.__wab_flex-container) > picture > img,
  .columns__wdfn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__lRw6 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mO9Ga {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__mO9Ga > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mO9Ga > :global(.__wab_flex-container) > *,
.freeBox__mO9Ga > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mO9Ga > :global(.__wab_flex-container) > picture > img,
.freeBox__mO9Ga
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__aPDdf {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__aPDdf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aPDdf > :global(.__wab_flex-container) > *,
.freeBox__aPDdf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aPDdf > :global(.__wab_flex-container) > picture > img,
.freeBox__aPDdf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aPDdf {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aPDdf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aPDdf > :global(.__wab_flex-container) > *,
  .freeBox__aPDdf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aPDdf > :global(.__wab_flex-container) > picture > img,
  .freeBox__aPDdf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__jLnzb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 60px;
  font-weight: 900;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jLnzb {
    text-align: center;
  }
}
.text__dloxu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 35px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dloxu {
    text-align: center;
  }
}
.text__ix8O3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ix8O3 {
    text-align: center;
  }
}
.columns__egZlb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__egZlb > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__egZlb > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__egZlb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__egZlb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__twjga {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__gmDHx:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__gmDHx:global(.__wab_instance) {
    position: relative;
  }
}
.svg__p5D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__b08Xp {
  height: auto;
}
.svg__fmWIo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__z7PC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.learnMore {
  position: relative;
  display: flex;
}
.text__tweD9 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__gZss8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.img___0W4WW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___0W4WW > picture > img {
  object-fit: cover;
}
.img___0W4WW > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ysVnF {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.freeBox__sSzwy {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox__sSzwy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sSzwy > :global(.__wab_flex-container) > *,
.freeBox__sSzwy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sSzwy > :global(.__wab_flex-container) > picture > img,
.freeBox__sSzwy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__wSql {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__ldDbR {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.text__sEoJj {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  padding-right: 0px;
}
.freeBox__iNcMn {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.text__xDLnU {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  font-weight: 900;
  align-self: auto;
  margin-right: 0px;
}
.freeBox__p3022 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.freeBox__oAmRa {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__oAmRa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__oAmRa > :global(.__wab_flex-container) > *,
.freeBox__oAmRa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oAmRa > :global(.__wab_flex-container) > picture > img,
.freeBox__oAmRa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oAmRa {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oAmRa > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oAmRa > :global(.__wab_flex-container) > *,
  .freeBox__oAmRa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oAmRa > :global(.__wab_flex-container) > picture > img,
  .freeBox__oAmRa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__brdsp {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.columns__sIqXw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__sIqXw > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__sIqXw > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sIqXw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sIqXw > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cJtuj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__g91At {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
}
.column__yXbSg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___06YL {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
.columns__b7HD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__b7HD > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__b7HD > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b7HD {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b7HD > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mycLe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__kgbAp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kgbAp > picture > img {
  object-fit: cover;
}
.img__kgbAp > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__azBCy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__tsQ5J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__pRcet {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__dv8Wh {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__ccTc7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__alti {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__ork2F {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__wFxm4:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__wFxm4:global(.__wab_instance) {
    position: relative;
  }
}
.svg__taRbu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__on26 {
  height: auto;
  text-align: left;
}
.svg__tPxaB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___0EwnN {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox___9Kjnx {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox___9Kjnx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___9Kjnx > :global(.__wab_flex-container) > *,
.freeBox___9Kjnx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Kjnx > :global(.__wab_flex-container) > picture > img,
.freeBox___9Kjnx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Kjnx {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Kjnx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Kjnx > :global(.__wab_flex-container) > *,
  .freeBox___9Kjnx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9Kjnx > :global(.__wab_flex-container) > picture > img,
  .freeBox___9Kjnx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__m15Jx {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.columns__c3FQp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__c3FQp > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__c3FQp > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c3FQp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c3FQp > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gyQE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__sQi8D {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 0px;
}
.column__p0F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__yFsuU {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 0px;
}
.columns__xtwGk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__xtwGk > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__xtwGk > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xtwGk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xtwGk > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__a0KYj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__inHol {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__inHol > picture > img {
  object-fit: cover;
}
.img__inHol > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__y7C72 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox___4DVfs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3___0Lj4V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__ohqm9 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__iOxhd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__hbeL1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__xT9Y {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__a1Ce:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__a1Ce:global(.__wab_instance) {
    position: relative;
  }
}
.svg__tczaq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__y8KG5 {
  height: auto;
  text-align: left;
}
.svg__dDpyn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns__kuDiy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__kuDiy > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__kuDiy > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kuDiy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kuDiy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__y58Jr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__knLdz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__o0BzF {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.column___3OzvR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__d3Ljm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__d3Ljm > picture > img {
  object-fit: cover;
}
.img__d3Ljm > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__lydIh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lydIh > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lydIh > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lydIh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lydIh > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___5S16C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___7Er8O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___7Er8O > picture > img {
  object-fit: cover;
}
.img___7Er8O > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__aYLfT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__rq09S {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__ugdZg {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.text__w7MDp {
  position: relative;
}
.columns__zoAuO {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zoAuO > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__zoAuO > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zoAuO {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zoAuO > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__thPlb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__a9F8U {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__wHtcc {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-top: 0px;
}
.column__nOgct {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___1Yxjj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___1Yxjj > picture > img {
  object-fit: cover;
}
.img___1Yxjj > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__t78Ud {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox__ht0G0 {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__ht0G0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ht0G0 > :global(.__wab_flex-container) > *,
.freeBox__ht0G0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ht0G0 > :global(.__wab_flex-container) > picture > img,
.freeBox__ht0G0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ht0G0 {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ht0G0 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ht0G0 > :global(.__wab_flex-container) > *,
  .freeBox__ht0G0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ht0G0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ht0G0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__vEyRd {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.columns__i5Md9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__i5Md9 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__i5Md9 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i5Md9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i5Md9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___6VE5Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__fIou {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 0px;
}
.column___35SYi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qGcjr {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
.columns___3MKm2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___3MKm2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___3MKm2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3MKm2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3MKm2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___7NxR5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__cp6Ex {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cp6Ex > picture > img {
  object-fit: cover;
}
.img__cp6Ex > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__sV6Jj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__aVFa7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__ixosY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__crLuW {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox___7UXB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__qqmSo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__pxJf {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__l9XNh:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__l9XNh:global(.__wab_instance) {
    position: relative;
  }
}
.svg__fOn4P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__sWj4Z {
  height: auto;
  text-align: left;
}
.svg__jb8Y9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns__n8V62 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__n8V62 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__n8V62 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n8V62 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n8V62 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___3JDw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__oHaSw {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__a2BFb {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.column__bLBh4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__kS43B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 36px;
}
.img__kS43B > picture > img {
  object-fit: cover;
}
.img__kS43B > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__sdOb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__sdOb > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__sdOb > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sdOb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sdOb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ecjWy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___5KdZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 35px;
}
.img___5KdZ > picture > img {
  object-fit: cover;
}
.img___5KdZ > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__zvsdV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__fVwnO {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__ilF9L {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.columns__wcfQ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__wcfQ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__wcfQ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wcfQ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wcfQ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___6WVeu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__f0XAg {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__onEkm {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-left: 0px;
  margin-top: 0px;
}
.column__t2Qpb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___7LOhb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___7LOhb > picture > img {
  object-fit: cover;
}
.img___7LOhb > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__aQAcL {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__aQAcL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__aQAcL > :global(.__wab_flex-container) > *,
.freeBox__aQAcL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aQAcL > :global(.__wab_flex-container) > picture > img,
.freeBox__aQAcL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aQAcL {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__t1Ea1 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__t1Ea1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__t1Ea1 > :global(.__wab_flex-container) > *,
.freeBox__t1Ea1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t1Ea1 > :global(.__wab_flex-container) > picture > img,
.freeBox__t1Ea1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__zEbmv {
  flex-direction: column;
  display: flex;
}
.freeBox__zEbmv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zEbmv > :global(.__wab_flex-container) > *,
.freeBox__zEbmv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zEbmv > :global(.__wab_flex-container) > picture > img,
.freeBox__zEbmv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yaVwa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__x5HW9 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x5HW9 {
    text-align: center;
  }
}
.freeBox__u0MIi {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__u0MIi > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__u0MIi > :global(.__wab_flex-container) > *,
.freeBox__u0MIi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u0MIi > :global(.__wab_flex-container) > picture > img,
.freeBox__u0MIi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u0MIi {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u0MIi > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u0MIi > :global(.__wab_flex-container) > *,
  .freeBox__u0MIi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__u0MIi > :global(.__wab_flex-container) > picture > img,
  .freeBox__u0MIi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__nta7Z:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.freeBox__wtg7L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 255px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
.img__y6Xn2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 211px;
  height: 282px;
  flex-shrink: 0;
}
.img__y6Xn2 > picture > img {
  object-fit: cover;
}
.img__y6Xn2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__xYnYw {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 336px;
  min-width: 0;
  display: none;
  padding: 8px;
}
.valueProp___3PAb8:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
  margin: 0px 0px 20px;
}
.text__rq7Jf {
  height: auto;
}
.svg___5GwVw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lNqkx:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  margin-bottom: 20px;
  min-width: 0;
}
.text__f87I {
  height: auto;
}
.svg__hzSmz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ys3Ys:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
  margin: 0px 0px 20px;
}
.text__pOfcu {
  height: auto;
}
.svg___6I4Jn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__zh5Vc:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  margin-bottom: 20px;
  min-width: 0;
}
.text__varPd {
  height: auto;
}
.svg__fA5Dd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___9Wal:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__b4Nws {
  padding-right: 0px;
}
.svg__cWr0V {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.getStarted {
  display: flex;
}
.text__htO6 {
  height: auto;
}
.priceCard__n8M4H:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: auto;
  max-width: 316px;
}
.text__a4JV {
  color: var(--token-R-3DcIJHsFFziK);
}
.freeBox__vnCuh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 281px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.img__zYbMy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 201px;
  height: 281px;
  flex-shrink: 0;
}
.img__zYbMy > picture > img {
  object-fit: cover;
}
.img__zYbMy > .__wab_img-spacer > img {
  object-fit: cover;
}
.personalPlan {
  display: flex;
}
.text__sccBh {
  height: auto;
}
.priceCard__yR7Q:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.text__aZEi {
  color: var(--token-dg5F2rkQFmiTZY);
}
.freeBox__vaUqo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 260px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.img__onLl4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 217px;
  height: 260px;
  flex-shrink: 0;
}
.img__onLl4 > picture > img {
  object-fit: cover;
}
.img__onLl4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.proPlan {
  display: flex;
}
.text__kKf3K {
  height: auto;
}
.priceCard__d2Ibe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.text___1Pds {
  color: var(--token-dtZjX0-3JH04eS);
}
.freeBox__hhnBp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 255px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.img___7Mquk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 215px;
  height: 255px;
  flex-shrink: 0;
}
.img___7Mquk > picture > img {
  object-fit: cover;
}
.img___7Mquk > .__wab_img-spacer > img {
  object-fit: cover;
}
.businessPlan {
  display: flex;
}
.text__vRin6 {
  height: auto;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-prpT-LXzyjV1yA);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___3Hs8W {
  flex-direction: column;
  display: flex;
}
.freeBox___3Hs8W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3Hs8W > :global(.__wab_flex-container) > *,
.freeBox___3Hs8W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Hs8W > :global(.__wab_flex-container) > picture > img,
.freeBox___3Hs8W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__i8XsK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__rKnX {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text___3Igf {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.columns__xyUsB {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__xyUsB > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xyUsB {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xyUsB > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__l87M7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__fl9Zj:global(.__wab_instance) {
  position: relative;
}
.svg__f1Jt8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___7JqYv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
