.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__vhdI3 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__vhdI3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__vhdI3 > :global(.__wab_flex-container) > *,
.freeBox__vhdI3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vhdI3 > :global(.__wab_flex-container) > picture > img,
.freeBox__vhdI3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vhdI3 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal__imEis:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__xt2Ll {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.reveal__weMiB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__oPbBg {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.reveal__uqnbZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns___7I2Qb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___7I2Qb > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7I2Qb > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7I2Qb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7I2Qb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qnTzO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__su7S:global(.__wab_instance) {
  position: relative;
}
.svg__krmKu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__v8Aa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__mxrtt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__dx2Wx {
  position: relative;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.reveal__luNVn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___9T93P {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox___9T93P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9T93P > :global(.__wab_flex-container) > *,
.freeBox___9T93P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9T93P > :global(.__wab_flex-container) > picture > img,
.freeBox___9T93P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8IkZ4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__mV4F8 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__mV4F8 {
    text-align: center;
  }
}
.text__o1Qqj {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.reveal__umIo5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp___69Tej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__qlS3E {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qlS3E {
    max-width: 249px;
    width: 100%;
    min-width: 0;
  }
}
.link__tzCcK {
  display: flex;
  font-weight: 700;
}
.text__mglrP {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  text-align: left;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__jtko2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__b4Kle {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__p6VFa {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal___900T2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__vsPfh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lNwli {
    max-width: 241px;
    width: 100%;
    min-width: 0;
  }
}
.link__bywyd {
  display: flex;
  font-weight: 700;
}
.text___759G8 {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__nLw2Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__nnu5U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__dIcx2 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__jEnVe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__giJj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__lfnDs {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lfnDs {
    max-width: 247px;
    width: 100%;
    min-width: 0;
  }
}
.link___1Pczu {
  display: flex;
  font-weight: 700;
}
.text__vVgMu {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__xYu6M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__qHb0O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___7X0Fj {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__m0WcP {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.reveal__oVkx3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__tPqKf {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ciVwm {
    font-size: 18px;
  }
}
.columns__lu3Pu {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__lu3Pu > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lu3Pu > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1EOxr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__bMsQv:global(.__wab_instance) {
  position: relative;
}
.svg__gjLun {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hYjNc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__hWyXc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___2MNx7 {
  display: flex;
  font-weight: 700;
}
.text___7Pb1F {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
}
.button__ryaKa:global(.__wab_instance) {
  display: none;
}
.svg__f1L4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__agFTy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token--5GuW43mkzDwqY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__i2LpN {
  flex-direction: column;
  display: flex;
}
.freeBox__i2LpN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__i2LpN > :global(.__wab_flex-container) > *,
.freeBox__i2LpN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i2LpN > :global(.__wab_flex-container) > picture > img,
.freeBox__i2LpN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___9KdB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal__zBi8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__jxdZl {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__mvSr {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.freeBox__lTf6I {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__lTf6I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__lTf6I > :global(.__wab_flex-container) > *,
.freeBox__lTf6I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lTf6I > :global(.__wab_flex-container) > picture > img,
.freeBox__lTf6I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__jJNkG {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__jJNkG > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__jJNkG > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__jJNkG > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__jJNkG > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__jJNkG > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__jJNkG > :global(.__wab_flex-container) > *,
.columns__jJNkG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__jJNkG > :global(.__wab_flex-container) > picture > img,
.columns__jJNkG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jJNkG {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jJNkG > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jJNkG > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jJNkG > :global(.__wab_flex-container) > *,
  .columns__jJNkG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__jJNkG > :global(.__wab_flex-container) > picture > img,
  .columns__jJNkG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column___8XZ6M {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__kDube:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__bg62O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__oQ1Dy {
  padding-left: 0px;
}
.column__hwQQ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__rsIkY:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__jyZ6D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__whTB {
  padding-left: 0px;
}
.column___7Ephg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__mmBdB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__bwOtk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__rpOmN {
  padding-left: 0px;
}
.column___4Ga8P {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__xVfw4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wgMsR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text___00OCt {
  padding-left: 0px;
}
.freeBox__xDrY1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 355px;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.button__mu1PR:global(.__wab_instance) {
  position: relative;
}
.svg__ihwNt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__lYe21 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__vam2D {
  position: relative;
}
.columns__u0G4M {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__u0G4M > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__u0G4M > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u0G4M {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u0G4M > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__me172 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__zwB4S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__uCC {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__uCC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__uCC > :global(.__wab_flex-container) > *,
.freeBox__uCC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uCC > :global(.__wab_flex-container) > picture > img,
.freeBox__uCC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uCC {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__dv0Yv {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__dv0Yv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__dv0Yv > :global(.__wab_flex-container) > *,
.freeBox__dv0Yv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dv0Yv > :global(.__wab_flex-container) > picture > img,
.freeBox__dv0Yv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__w6Sbz {
  flex-direction: column;
  display: flex;
}
.freeBox__w6Sbz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__w6Sbz > :global(.__wab_flex-container) > *,
.freeBox__w6Sbz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w6Sbz > :global(.__wab_flex-container) > picture > img,
.freeBox__w6Sbz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__o2IKo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___7ViYs {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7ViYs {
    text-align: center;
  }
}
.text___6VXi {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__izcS {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__izcS > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__izcS > :global(.__wab_flex-container) > *,
.freeBox__izcS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__izcS > :global(.__wab_flex-container) > picture > img,
.freeBox__izcS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__izcS {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__izcS > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__izcS > :global(.__wab_flex-container) > *,
  .freeBox__izcS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__izcS > :global(.__wab_flex-container) > picture > img,
  .freeBox__izcS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__dOnkl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__xLtwy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tFakT {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1W8Nz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__w2Oc3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__pGm7P {
  height: auto;
}
.priceCard__odv9G:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___4Otqa {
  color: var(--token-R-3DcIJHsFFziK);
}
.valueProp__jmqfd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nVbzI {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a5Gpi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wWswR {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yXoom:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ghFoI {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__aO6H {
  height: auto;
}
.priceCard__ktd2M:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yJi {
  color: var(--token-dg5F2rkQFmiTZY);
}
.valueProp__rYzK7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zCa66 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lQylr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cZ1O8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__pBnk9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ejtNv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ov97W:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hX0YJ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__vf2Pg {
  height: auto;
}
.priceCard__jjkHm:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ddZiz {
  color: var(--token-dtZjX0-3JH04eS);
}
.valueProp__f6Rrs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__r2Cvc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__k63La:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__u6YEh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vtMyj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ytW7Q {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gBhak:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kcq6E {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__rGw0U {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
