.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__smpYb {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__smpYb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__smpYb > :global(.__wab_flex-container) > *,
.freeBox__smpYb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__smpYb > :global(.__wab_flex-container) > picture > img,
.freeBox__smpYb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__smpYb {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__wczwm {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__aD2Ay {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__do5GM {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__do5GM > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__do5GM > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__do5GM {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__do5GM > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___63AlA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__lxEQn:global(.__wab_instance) {
  position: relative;
}
.svg__eGn96 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__zZyWh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__u6Oy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__mNlsY {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__g1D {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox__g1D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__g1D > :global(.__wab_flex-container) > *,
.freeBox__g1D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g1D > :global(.__wab_flex-container) > picture > img,
.freeBox__g1D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__x7Sre {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__cDhs2 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.text__oPqh5 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__ph7Ml:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__rQf5M {
  height: auto;
  padding-bottom: 0px;
  max-width: 245px;
  width: 100%;
  min-width: 0;
}
.link__uGuJw {
  display: flex;
}
.text__tQvg {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  text-align: left;
  font-weight: 700;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__gstqV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cccBf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__mt28Q {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__hbnxk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___3UDef {
  padding-bottom: 0px;
  max-width: 245px;
  width: 100%;
  min-width: 0;
}
.link__gXbDf {
  display: flex;
  font-weight: 700;
}
.text___0D9Zy {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  padding-left: 0px;
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__cplOj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__egZga {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fnBlr {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__q1Q3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__rEZu {
  padding-bottom: 0px;
  max-width: 234px;
  width: 100%;
  min-width: 0;
}
.link__yqV4L {
  display: flex;
}
.text__nrnh3 {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  font-weight: 700;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__onr0V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tVe99 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__b8MTp {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__irhfe {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  padding-top: 0px;
  min-width: 0;
}
.columns___7M9On {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns___7M9On > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7M9On > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7M9On {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7M9On > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__h1Bni {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__qIotS:global(.__wab_instance) {
  position: relative;
}
.svg__jZfK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ndsy4 {
  height: auto;
}
.svg__ckXgy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__a20Vb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 21px;
}
.link__ihMgO {
  display: flex;
  font-weight: 700;
}
.text__cx9Lv {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
}
.button__bkRVi:global(.__wab_instance) {
  display: none;
}
.svg___634Ym {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vOl3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token--5GuW43mkzDwqY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___7SUn {
  flex-direction: column;
  display: flex;
}
.freeBox___7SUn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7SUn > :global(.__wab_flex-container) > *,
.freeBox___7SUn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7SUn > :global(.__wab_flex-container) > picture > img,
.freeBox___7SUn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__wRnU0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___5Zm8 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__jBuDe {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.freeBox__ieapT {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__ieapT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ieapT > :global(.__wab_flex-container) > *,
.freeBox__ieapT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ieapT > :global(.__wab_flex-container) > picture > img,
.freeBox__ieapT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__tpHWw {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__tpHWw > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__tpHWw > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__tpHWw > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__tpHWw > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__tpHWw > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__tpHWw > :global(.__wab_flex-container) > *,
.columns__tpHWw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__tpHWw > :global(.__wab_flex-container) > picture > img,
.columns__tpHWw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tpHWw {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tpHWw > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tpHWw > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tpHWw > :global(.__wab_flex-container) > *,
  .columns__tpHWw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__tpHWw > :global(.__wab_flex-container) > picture > img,
  .columns__tpHWw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__zyeVb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__dcjbg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__f2Eb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__n4NKn {
  padding-left: 0px;
}
.column__nTCm9 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__c9DrG:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__jRSrN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__ho0C1 {
  padding-left: 0px;
}
.column___64Yc1 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__hKesl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__c8Uzv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__ktaqi {
  padding-left: 0px;
}
.column__bBnGv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__t0Ji9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___9RbYg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__ziGbA {
  padding-left: 0px;
}
.freeBox__dcdQf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 355px;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.button___0Jyd:global(.__wab_instance) {
  position: relative;
}
.svg__oarkD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__la9H {
  height: auto;
  text-align: left;
}
.svg__ryXJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__zfs9Y {
  position: relative;
}
.columns___7ImKf {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns___7ImKf > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7ImKf > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7ImKf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7ImKf > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__aYvJw {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.column__zNqGh {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__th5H8 {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__th5H8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__th5H8 > :global(.__wab_flex-container) > *,
.freeBox__th5H8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__th5H8 > :global(.__wab_flex-container) > picture > img,
.freeBox__th5H8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__th5H8 {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__gQLnD {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__gQLnD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__gQLnD > :global(.__wab_flex-container) > *,
.freeBox__gQLnD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gQLnD > :global(.__wab_flex-container) > picture > img,
.freeBox__gQLnD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__gx8Qe {
  flex-direction: column;
  display: flex;
}
.freeBox__gx8Qe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gx8Qe > :global(.__wab_flex-container) > *,
.freeBox__gx8Qe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gx8Qe > :global(.__wab_flex-container) > picture > img,
.freeBox__gx8Qe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___5W3Da {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__khKIu {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__khKIu {
    text-align: center;
  }
}
.text__v2PEy {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__eANc {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__eANc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__eANc > :global(.__wab_flex-container) > *,
.freeBox__eANc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eANc > :global(.__wab_flex-container) > picture > img,
.freeBox__eANc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eANc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eANc > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eANc > :global(.__wab_flex-container) > *,
  .freeBox__eANc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eANc > :global(.__wab_flex-container) > picture > img,
  .freeBox__eANc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard___74T7H:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__sdHbz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cGjyy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__djFae:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__b2Db7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__z2GTh {
  height: auto;
}
.priceCard__dE5Q:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__vgVwU {
  color: var(--token-R-3DcIJHsFFziK);
}
.valueProp__om1H7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yHN {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1Pctf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__k6Cxg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kv6G4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kGwK9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__nwpjd {
  height: auto;
}
.priceCard___44MRx:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ngqyb {
  color: var(--token-dg5F2rkQFmiTZY);
}
.valueProp__jDiH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kDl7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__oepPk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__i6EQ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__p57N5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bJf9F {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___4DcRn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ymG14 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0Qone {
  height: auto;
}
.priceCard__uTzep:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__xvpUg {
  color: var(--token-dtZjX0-3JH04eS);
}
.valueProp__lt9UA:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hYe0B {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kQaEt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vvzUn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__onnQc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bNxge {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__f74Vb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7YyeC {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__genNl {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
