.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__f2LAj {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__f2LAj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__f2LAj > :global(.__wab_flex-container) > *,
.freeBox__f2LAj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f2LAj > :global(.__wab_flex-container) > picture > img,
.freeBox__f2LAj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f2LAj {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__otYoD {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__uiPhN {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__mzOj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__mzOj > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__mzOj > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mzOj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mzOj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rGuj5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__hTgW6:global(.__wab_instance) {
  position: relative;
}
.svg__yIt5U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vooYk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__y91WK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__mVj3P {
  position: relative;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__cUfmK {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox__cUfmK > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cUfmK > :global(.__wab_flex-container) > *,
.freeBox__cUfmK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cUfmK > :global(.__wab_flex-container) > picture > img,
.freeBox__cUfmK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__fEzKl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___223Zp {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___223Zp {
    text-align: center;
  }
}
.text__k83F {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp___4CGbc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___8JAhv {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8JAhv {
    max-width: 249px;
    width: 100%;
    min-width: 0;
  }
}
.link__tzCcK {
  display: flex;
  font-weight: 700;
}
.text__mglrP {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
  text-align: left;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__kJHqJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3Rw6N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___6EUcv {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___3DXgL:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ltBY {
    max-width: 241px;
    width: 100%;
    min-width: 0;
  }
}
.link__bywyd {
  display: flex;
  font-weight: 700;
}
.text___759G8 {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__xVmba {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pqoNp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__qbmBc {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__puLeT:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___0JTF {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0JTF {
    max-width: 247px;
    width: 100%;
    min-width: 0;
  }
}
.link___1Pczu {
  display: flex;
  font-weight: 700;
}
.text__vVgMu {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__zhePm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__kMjwi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__mLcCb {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__sxx1K {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ciVwm {
    font-size: 18px;
  }
}
.columns__lu3Pu {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__lu3Pu > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lu3Pu > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1EOxr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__lJaSx:global(.__wab_instance) {
  position: relative;
}
.svg__nf6Re {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___9HhCa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__hWyXc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___2MNx7 {
  display: flex;
  font-weight: 700;
}
.text___7Pb1F {
  height: auto;
  width: auto;
  color: var(--token-64W6sKGk4Ywv_2);
}
.button__nwcjh:global(.__wab_instance) {
  display: none;
}
.svg__izNlx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vBjQf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token--5GuW43mkzDwqY);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__hwC05 {
  flex-direction: column;
  display: flex;
}
.freeBox__hwC05 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hwC05 > :global(.__wab_flex-container) > *,
.freeBox__hwC05 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hwC05 > :global(.__wab_flex-container) > picture > img,
.freeBox__hwC05
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__laXg6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__pt38K {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__hmcIj {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.freeBox___3TxMi {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox___3TxMi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___3TxMi > :global(.__wab_flex-container) > *,
.freeBox___3TxMi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3TxMi > :global(.__wab_flex-container) > picture > img,
.freeBox___3TxMi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__xLqOq {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__xLqOq > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__xLqOq > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xLqOq > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xLqOq > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xLqOq > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xLqOq > :global(.__wab_flex-container) > *,
.columns__xLqOq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xLqOq > :global(.__wab_flex-container) > picture > img,
.columns__xLqOq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xLqOq {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xLqOq > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xLqOq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xLqOq > :global(.__wab_flex-container) > *,
  .columns__xLqOq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__xLqOq > :global(.__wab_flex-container) > picture > img,
  .columns__xLqOq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__b7Lck {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___0Fb9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__lU2XC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__aeRAe {
  padding-left: 0px;
}
.column__aExZa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___0DUwG:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__dkl6G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text___44NGw {
  padding-left: 0px;
}
.column__cQWz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__woclM:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__f5Pg7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__aiHgN {
  padding-left: 0px;
}
.column__fxDq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___88Lov:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__koA7X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n8ng2nRtCg1I0c);
  width: 28px;
  height: 28px;
}
.text__gv3Vr {
  padding-left: 0px;
}
.freeBox__gDlj1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 355px;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.button__bxFw1:global(.__wab_instance) {
  position: relative;
}
.svg__kXai9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jlsCx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link___1HFwR {
  position: relative;
}
.columns__cfqih {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__cfqih > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__cfqih > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cfqih {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cfqih > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1Pc0F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__zqxZu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ayWxa {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__ayWxa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ayWxa > :global(.__wab_flex-container) > *,
.freeBox__ayWxa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ayWxa > :global(.__wab_flex-container) > picture > img,
.freeBox__ayWxa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ayWxa {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__x8Aw0 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__x8Aw0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__x8Aw0 > :global(.__wab_flex-container) > *,
.freeBox__x8Aw0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x8Aw0 > :global(.__wab_flex-container) > picture > img,
.freeBox__x8Aw0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__v1Hh {
  flex-direction: column;
  display: flex;
}
.freeBox__v1Hh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__v1Hh > :global(.__wab_flex-container) > *,
.freeBox__v1Hh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v1Hh > :global(.__wab_flex-container) > picture > img,
.freeBox__v1Hh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gy0DE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__tr1Gh {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tr1Gh {
    text-align: center;
  }
}
.text__v0W6Z {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__w3EuS {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__w3EuS > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__w3EuS > :global(.__wab_flex-container) > *,
.freeBox__w3EuS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w3EuS > :global(.__wab_flex-container) > picture > img,
.freeBox__w3EuS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w3EuS {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w3EuS > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w3EuS > :global(.__wab_flex-container) > *,
  .freeBox__w3EuS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__w3EuS > :global(.__wab_flex-container) > picture > img,
  .freeBox__w3EuS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__gHVk9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__xjMx0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6LqGk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1W8Nz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8WjLc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ub1Ia {
  height: auto;
}
.priceCard__fgEq9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___1Xaal {
  color: var(--token-R-3DcIJHsFFziK);
}
.valueProp__e8PXe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ffPh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a5Gpi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gBcd2 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yXoom:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qVvBz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__gTvrb {
  height: auto;
}
.priceCard__jKkmC:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__gWrx {
  color: var(--token-dg5F2rkQFmiTZY);
}
.valueProp__vufJm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gW36I {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lQylr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__l6CnA {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__pBnk9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__x41KX {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ov97W:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f6Hn1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__huc8O {
  height: auto;
}
.priceCard__rgEFl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__mjYbJ {
  color: var(--token-dtZjX0-3JH04eS);
}
.valueProp___2Zax3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cyXyx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__k63La:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___66S7G {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vtMyj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__blnXu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gBhak:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jQL7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___1OiW7 {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
