.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: 0px;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__epFv3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 125px 8px 75px;
}
.freeBox__vpnyy {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__vpnyy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__vpnyy > :global(.__wab_flex-container) > *,
.freeBox__vpnyy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vpnyy > :global(.__wab_flex-container) > picture > img,
.freeBox__vpnyy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vpnyy {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vpnyy > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vpnyy > :global(.__wab_flex-container) > *,
  .freeBox__vpnyy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vpnyy > :global(.__wab_flex-container) > picture > img,
  .freeBox__vpnyy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__iywz {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox__iywz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iywz > :global(.__wab_flex-container) > *,
.freeBox__iywz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iywz > :global(.__wab_flex-container) > picture > img,
.freeBox__iywz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__bxdla {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.columns__hcB7Q {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-KwcBX3WgI9XXvz);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__hcB7Q > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__hcB7Q > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__hcB7Q > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__hcB7Q > :global(.__wab_flex-container) > *,
.columns__hcB7Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__hcB7Q > :global(.__wab_flex-container) > picture > img,
.columns__hcB7Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hcB7Q {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 0px;
    max-width: 378px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hcB7Q > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hcB7Q > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hcB7Q > :global(.__wab_flex-container) > *,
  .columns__hcB7Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__hcB7Q > :global(.__wab_flex-container) > picture > img,
  .columns__hcB7Q
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__vnNg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gQ85H {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__gQ85H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gQ85H > :global(.__wab_flex-container) > *,
.freeBox__gQ85H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gQ85H > :global(.__wab_flex-container) > picture > img,
.freeBox__gQ85H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__vF0O5 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__vF0O5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vF0O5 > :global(.__wab_flex-container) > *,
.freeBox__vF0O5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vF0O5 > :global(.__wab_flex-container) > picture > img,
.freeBox__vF0O5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vF0O5 {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vF0O5 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vF0O5 > :global(.__wab_flex-container) > *,
  .freeBox__vF0O5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vF0O5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__vF0O5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text___2DLMy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 60px;
  font-weight: 900;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2DLMy {
    text-align: center;
  }
}
.text__ohdT0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ohdT0 {
    text-align: center;
  }
}
.columns__d8OlI {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__d8OlI > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__d8OlI > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d8OlI {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d8OlI > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__afPOz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__em4ZW:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__em4ZW:global(.__wab_instance) {
    position: relative;
  }
}
.svg__chXcs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nitan {
  height: auto;
}
.svg___8Z4Wm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__cusEy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.learnMore {
  position: relative;
  display: flex;
}
.text__quyyj {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__expGq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.img__gpFsr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gpFsr > picture > img {
  object-fit: cover;
}
.img__gpFsr > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__bC2I4 {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.freeBox__xbh3Q {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  height: auto;
}
.freeBox__xbh3Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xbh3Q > :global(.__wab_flex-container) > *,
.freeBox__xbh3Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xbh3Q > :global(.__wab_flex-container) > picture > img,
.freeBox__xbh3Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__xz0V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__lYmex {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.text___0Kq2 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  padding-right: 0px;
}
.freeBox__wKrv3 {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.text__bbXqA {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: center;
  line-height: 28px;
  font-weight: 900;
  align-self: auto;
  margin-right: 0px;
}
.freeBox__kknE3 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.freeBox__giKx {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__giKx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__giKx > :global(.__wab_flex-container) > *,
.freeBox__giKx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__giKx > :global(.__wab_flex-container) > picture > img,
.freeBox__giKx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__giKx {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__giKx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__giKx > :global(.__wab_flex-container) > *,
  .freeBox__giKx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__giKx > :global(.__wab_flex-container) > picture > img,
  .freeBox__giKx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__yb1HZ {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.columns__zvzRq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zvzRq > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__zvzRq > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zvzRq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zvzRq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__iFgcy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__fXzqq {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
}
.column__pVzjU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ackgy {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
.columns__hNefz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hNefz > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__hNefz > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hNefz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hNefz > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dk0K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__wHvhC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__wHvhC > picture > img {
  object-fit: cover;
}
.img__wHvhC > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__wrrT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__qZzRl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3___6YV38 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__jGdJs {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox___4Z9A3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3___21Qvu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text___4FaWv {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__hW1E:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__hW1E:global(.__wab_instance) {
    position: relative;
  }
}
.svg__cWfUd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ggkam {
  height: auto;
  text-align: left;
}
.svg__dqvXx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__f3V1 {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox__yjwEh {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__yjwEh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__yjwEh > :global(.__wab_flex-container) > *,
.freeBox__yjwEh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yjwEh > :global(.__wab_flex-container) > picture > img,
.freeBox__yjwEh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yjwEh {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yjwEh > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yjwEh > :global(.__wab_flex-container) > *,
  .freeBox__yjwEh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yjwEh > :global(.__wab_flex-container) > picture > img,
  .freeBox__yjwEh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__p9XUt {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.columns__qg8Ui {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__qg8Ui > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__qg8Ui > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qg8Ui {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qg8Ui > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__aAkS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xjs2W {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 0px;
}
.column__o5Sli {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__fkncH {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 0px;
}
.columns__m3Sj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__m3Sj > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__m3Sj > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m3Sj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m3Sj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__arEBt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___2RlSf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___2RlSf > picture > img {
  object-fit: cover;
}
.img___2RlSf > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__hm90C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__y2Jot {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__t26E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__hoQ5C {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__qTwta {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__poFvh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__xo88O {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__gbEKt:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__gbEKt:global(.__wab_instance) {
    position: relative;
  }
}
.svg__dmxem {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___64WgX {
  height: auto;
  text-align: left;
}
.svg__eyIcs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns__er8YQ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__er8YQ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__er8YQ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__er8YQ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__er8YQ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dlHea {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__urn1G {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__vBf6B {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.column__t1Zd6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__cqMfx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cqMfx > picture > img {
  object-fit: cover;
}
.img__cqMfx > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__ywFpd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ywFpd > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ywFpd > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ywFpd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ywFpd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__aqQt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__b2MW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__b2MW > picture > img {
  object-fit: cover;
}
.img__b2MW > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__b839O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__inyz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__s2RtN {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.text__l9LLj {
  position: relative;
}
.columns__ic9D {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ic9D > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ic9D > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ic9D {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ic9D > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__bsiz7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2___5Uw1D {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__pAwD {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-top: 0px;
}
.column___5SgTv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__loHm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__loHm > picture > img {
  object-fit: cover;
}
.img__loHm > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___4NsF {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox__zespy {
  flex-direction: column;
  max-width: var(--token-KwcBX3WgI9XXvz);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__zespy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__zespy > :global(.__wab_flex-container) > *,
.freeBox__zespy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zespy > :global(.__wab_flex-container) > picture > img,
.freeBox__zespy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zespy {
    max-width: var(--token-KwcBX3WgI9XXvz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zespy > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zespy > :global(.__wab_flex-container) > *,
  .freeBox__zespy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zespy > :global(.__wab_flex-container) > picture > img,
  .freeBox__zespy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__ugJew {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
  text-align: center;
}
.columns__izvcn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__izvcn > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__izvcn > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__izvcn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__izvcn > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__log8J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__uN4J3 {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 0px;
}
.column__ikJt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__tyqWe {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
.columns__jeU1O {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__jeU1O > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jeU1O > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jeU1O {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jeU1O > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1U4Gd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__tCrm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tCrm > picture > img {
  object-fit: cover;
}
.img__tCrm > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__sZf1B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__aBAg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__w4Lg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__lMGW {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__kvqZc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__xk8G0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__h9IqG {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__gDa1T:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__gDa1T:global(.__wab_instance) {
    position: relative;
  }
}
.svg__q8Cq6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tIofq {
  height: auto;
  text-align: left;
}
.svg__bBrg1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns__uoKv2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__uoKv2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__uoKv2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uoKv2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uoKv2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__taXiI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__sxNoH {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__deEix {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.column__kS9Kt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__zb7Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 36px;
}
.img__zb7Z > picture > img {
  object-fit: cover;
}
.img__zb7Z > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__u1Wr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__u1Wr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__u1Wr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u1Wr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u1Wr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___2ZmPi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__zbr05 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 35px;
}
.img__zbr05 > picture > img {
  object-fit: cover;
}
.img__zbr05 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__zZbUz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__ppjjY {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__wmcbd {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.columns__f3Una {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__f3Una > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__f3Una > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f3Una {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f3Una > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sArGi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2___43BLm {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Wm4No4lb2_1bmb);
  line-height: 1;
}
.text__rktQm {
  font-size: 20px;
  color: var(--token-Q7mRTlOpI3gcbr);
  text-align: left;
  line-height: 28px;
  padding-left: 0px;
  margin-top: 0px;
}
.column__hbTjx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uZnx3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uZnx3 > picture > img {
  object-fit: cover;
}
.img__uZnx3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-prpT-LXzyjV1yA);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__bkWh {
  flex-direction: column;
  display: flex;
}
.freeBox__bkWh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bkWh > :global(.__wab_flex-container) > *,
.freeBox__bkWh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bkWh > :global(.__wab_flex-container) > picture > img,
.freeBox__bkWh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gE8Bq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__wdd5J {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__vvPah {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.columns__tbXOa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__tbXOa > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tbXOa {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tbXOa > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__egtSh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__kad4L:global(.__wab_instance) {
  position: relative;
}
.svg___46NyM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___4WoBm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__epaR {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__epaR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__epaR > :global(.__wab_flex-container) > *,
.freeBox__epaR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__epaR > :global(.__wab_flex-container) > picture > img,
.freeBox__epaR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__epaR {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__tjf6A {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__tjf6A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__tjf6A > :global(.__wab_flex-container) > *,
.freeBox__tjf6A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tjf6A > :global(.__wab_flex-container) > picture > img,
.freeBox__tjf6A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__fjdYp {
  flex-direction: column;
  display: flex;
}
.freeBox__fjdYp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fjdYp > :global(.__wab_flex-container) > *,
.freeBox__fjdYp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fjdYp > :global(.__wab_flex-container) > picture > img,
.freeBox__fjdYp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__epGsK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__foliw {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__foliw {
    text-align: center;
  }
}
.freeBox__vxbFo {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__vxbFo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__vxbFo > :global(.__wab_flex-container) > *,
.freeBox__vxbFo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vxbFo > :global(.__wab_flex-container) > picture > img,
.freeBox__vxbFo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vxbFo {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vxbFo > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vxbFo > :global(.__wab_flex-container) > *,
  .freeBox__vxbFo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vxbFo > :global(.__wab_flex-container) > picture > img,
  .freeBox__vxbFo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__xbKbv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.valueProp__kylPf:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
}
.text__wbTyg {
  height: auto;
}
.svg__yQxo0 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ceq4N:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
}
.text__cmch5 {
  height: auto;
}
.svg___4VVy4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___52U:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
}
.text__cSkE7 {
  height: auto;
}
.svg__mkFdg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lKorr:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
}
.text__fV8AL {
  height: auto;
}
.svg__p9AD7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__muGj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___9OnHd {
  padding-right: 0px;
}
.svg___9Cdut {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__u9AyN {
  height: auto;
}
.priceCard__jaHaI:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__pTd5E {
  color: var(--token-R-3DcIJHsFFziK);
}
.valueProp__cQd62:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wTgt {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vGtWy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xTfy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yuEoS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vnHuq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__x6Xux:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yDSw6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__grWJv {
  height: auto;
}
.priceCard__yWPuj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___1TqG {
  color: var(--token-dg5F2rkQFmiTZY);
}
.valueProp__s6Gis:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__vG347 {
  padding-right: 0px;
}
.svg__sJmpz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vd8AV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__etpXj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bXfxm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vrEh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ipej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__noRot {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___9MIf {
  height: auto;
}
.priceCard___277AJ:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__mrNju {
  color: var(--token-dtZjX0-3JH04eS);
}
.valueProp__qOAjw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6Czv1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__xo6Lk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lte8S {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kx9Lm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__atd6V {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___0EluE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bZXey {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__kSpA0 {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
